[2014-06-29 18:45] freerouting opened #1 "Refactoring: exception handling"
Exception handling needs to be improved.

The worst example currently in the code base would be:
        } catch (Exception e)
        {
        }

Yes, just "catch any exception and totally ignore it". That's wrong.

First of all, there are very little cases when you should be catching general 'Exception' - it should be more specific what exactly you are catching and why.

[code]

Should probably

[2014-06-29 18:49] freerouting opened #2 "Refactoring: logging"
Currently the code writes to standard console

[code]

First of all users do not have access to stdout by default, second this should be written to a file so that further troubleshooting could be possible, this should also be encapsulated.

Looks like there is already a class related to logging - it should be used wider.

[2014-06-29 19:00] freerouting opened #3 "Feature request: fully batched routing"
It should be possible to autoroute a board without launching any GUI.

Implementation problem: currently the processing code is too coupled with GUI code, see class BoardHandling. Refactoring would be needed in order to decouple processing from GUI.

[2014-07-02 10:35] freerouting opened #4 "short traces"
I was not able to reroute a board that has been previously routed by FreeRouter because it seems to leave a lot of zero-length traces laying around that cause the FreeRouter to be unable to load the DSN file.  So if I needed to reroute a board, I always had to remove all the traces and start again from scratch or revert to pre-autorouted version of the board.

[2014-07-02 10:43] freerouting opened #5 "windows integration: assosiate .dsn extention with the binary"
Not sure if that's even possible with java, but windows version should automaticly associate itself with .dsn files

[2014-10-01 08:57] nmz787 opened #6 "I believe newer DSN files don't work"
When using the binary I see the message "unable to read .dsl-file" in first open dialog GUI.
This is the file:
http://diyhpl.us/~nmz787/LPC18XX_43XX_SCH.DSN

When I tried it in NetBeans, I got this:
java.lang.Error: Illegal character <�>
    at designformats.specctra.SpecctraFileScanner.next_token(SpecctraFileScanner.java:1407)
    at designformats.specctra.DsnFile.read(DsnFile.java:59)
    at int

[2015-11-27 21:43] bobc commented on #6
Specctra DSN is an ASCII file format. That file might have a DSN suffix but I don't think it is anything to do with Specctra DSN.

To avoid confusion, freerouter could check that the DSN file starts with "(pcb".

[2015-12-13 14:02] SergeySSmirnov commented on #6
Me too have this problem.
In my case Exception generates Illegal character <M>.
*.dsn file is correct, starts with (pcb.
Can you help?

[2015-12-13 15:42] bobc commented on #6
@SergeySSmirno if you post the file somewhere, I could have a look.

[2015-12-13 15:45] SergeySSmirnov commented on #6
Yes of course: https://www.dropbox.com/s/1wu8f4uysfz4hti/%D0%9F%D0%B0%D1%8F%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F%20%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F.dsn?dl=0

[2015-12-13 18:26] timofonic opened #7 "What about pushing efforts in a new codebase? C-PCB: Based on C++14, faster and cleaner"
Hello.

@bobc
@vygr
@freerouting
@guanix
@corecode
@ronandi
@sephamorr
@nikropht
@faerietree
@Salient

While I appreciate Freerouting, it has certain limits. The use of Java can be an advantage in certain way, but adds bloating and it's not so easy to integrate in Open Source EDA apps (for example).

What about using [C-PCB](https://github.com/vygr/C-PCB) as base and help the main author to make i

[2016-05-22 06:57] timofonic commented on #7
Any news?

[2017-01-24 00:45] qume opened #8 "Use Oracle JDK"
Buids and runs fine with Oracle JDK, but had problems under Ubuntu using openjdk (both 8 and 9)

[2017-02-03 17:46] felipesanches commented on #8
Or better: bugfix openjdk based on the aforementioned problems. By the way... "had problems" is far from guiding us towards a solution. If possible, please provide a more detailed description of the problems at hand so that someone can do something about it.

[2017-02-06 07:29] qume commented on #8
Understood. Java environment is something I have never had experience with so not much I can help with. The only insight I can add is that running java -jar ... resulted in a segfault. I don't have access to those machines right now but can note that this happened twice on two different machines with different distros for me around 3 months apart, so unlikely to be isolated to just my setup.

In a

[2017-04-11 08:19] #8 closed

[2017-05-22 21:40] jb-42 opened #9 "java.awt.geom.Rectangle2D$Double cannot be cast to java.awt.Rectangle probably only under MacOS"
I copied that issue from [this site](https://github.com/Engidea/FreeRoutingNew/issues/5). I have the same issue on Mac OS X Sierra (but not on windows 10) with this version of freerouting. The patch proposed on that site worked for me on both OS. I suggest you include the patch as well. The attached file already contains the patches.
[GraphicsContext.java.zip](https://github.com/freerouting/freero

[2017-09-06 22:09] kjyv commented on #9
I've recompiled the jar with your changed file since the included binaries still don't work on macOS.

[freeroute.jar.zip](https://github.com/freerouting/freerouting/files/1282814/freeroute.jar.zip)

[2018-01-13 14:33] stanleyseow commented on #9
The freeroute.jar.zip works on Mac OS X, run with java -jar freeroute.jar
Thanks !!!!

[2019-06-02 12:10] BenF1000 commented on #3
I have been playing with the freerouting script for a project which I am working on and I am very impressed! It would be great to have this feature however (where the autorouter can be launched from the commandline) - I noticed a couple of commits related to 'headless' operation and decoupling the logic from the UI, but I cant figure out whether this feature has been implemented yet or not? Please

[2019-06-11 04:30] jlawton11 opened #10 "Need better way to handle open outline issue"
I was using this tool on a KiCAD PCB and I was frustrated as I could be that the tool was completely ignoring my outline and just substituting some generic roundrect for it. I didn't understand that the outline wasn't closed (I SWEAR it had been at some point, maybe one of the curves got "rounded off" as a side effect of changing the grid size or something) but this behavior in my opinion is unacc

[2019-10-04 05:21] sherief commented on #9
This has been the only way I found to use FreeRouting on a Windows 10 machine. Thank you so much @jb-42 (and thanks @kjyv for providing a binary)!

[2020-02-02 02:46] alejodeiuliis commented on #6
Having the same issue, when trying to exec .jar file and load my .dsn file (in Linux Mint 19.1):

java.lang.Error: Illegal character <->
	at freert.spectra.DsnFileScanner.next_token(DsnFileScanner.java:1744)
	at freert.spectra.DsnKeywordNetwork.read_net_pins(DsnKeywordNetwork.java:517)
	at freert.spectra.DsnKeywordNetwork.read_net_scope(DsnKeywordNetwork.java:377)
	at freert.spectra.DsnKeywordNetw

[2020-02-10 10:35] andrasfuchs opened #13 "Is this repo ready to be archived?"
As far as I can see this repo wasn't updated in a while.

Could we reach out to the owners and ask them to archive this repo as described [in this blog post](https://github.blog/2017-11-08-archiving-repositories/)?

It would be also great to update the README, and let users know where the currently most active fork is:
https://github.com/miho/freerouting

[2020-02-10 10:39] andrasfuchs commented on #3
I have implemented a few extra command line arguments that make it possible to use freerouter with scripts. It still launches the GUI, but it automatically does the auto-routing for a number of passes and saves the results into a file and exits the app.

Check out the end of the README in this repo: https://github.com/miho/freerouting

[2020-02-10 10:41] andrasfuchs commented on #2
I refactored the logging of freerouter, so now it uses the fully customizable log4j as its logging framework.

You can check it out here: https://github.com/miho/freerouting

[2020-02-10 10:43] andrasfuchs commented on #1
I agree. I started to do the refactoring, but it's not complete yet.

You can get the version where logging is done by log4j and Exception are logged as errors with details from this repo: https://github.com/miho/freerouting

[2020-02-28 13:56] andrasfuchs commented on #6
@alejodeiuliis Could you send us the DSN file?

I'm working on [the currently active fork](https://github.com/miho/freerouting) of this project, and I could test your file, and fix the issue if I can.

[2020-03-01 21:50] andrasfuchs commented on #6
@SergeySSmirnov Your file contained cyrillic letters, that caused the problem.

@alejodeiuliis I updated the source today, so the error message you are going to get will show you the exact position in the file where the problem is.
For more details check out this related issue: https://github.com/miho/freerouting/issues/11

[2020-03-01 21:59] nmz787 commented on #6
Any error message with the file I posted?

On Sun, Mar 1, 2020, 1:50 PM Andras <notifications@github.com> wrote:

[2020-03-01 22:07] andrasfuchs commented on #6
Yes, that file is a binary file. Freerouting supports only the text-based Specctra DSN file format at the moment.

[2020-03-14 19:49] rusefi commented on #13
I am sorry I have not noticed this until now. Will do!

[2020-03-14 20:04] rusefi commented on #13
Well, I might have lost access... Let me see if I can recover it.

[2020-03-14 20:19] abelom commented on #13
Great news - I have access apparently, I was able to edit the readme.md

I will now email you and maybe we can catch-up and I should transfer ownership to someone more involved?

[2020-03-14 21:50] rusefi opened #14 "Making code compatible with java 8"
Java 8 vs java 11 is a bit controversial - the fact that the industry choice to back-port fixes into 8 and provide support of java 8 speaks volume, also there is some licencing drama.

As long as it's trivial to do so I believe that it would be nicer to compile code with java 8 (as long as it does not use removed API) - this case all users from 8 to 13 would be able to run the code.

This could ab

[2020-03-14 22:26] rusefi commented on #9
@jb-42 I hope I've merged your fix

@miho I assume a new release is needed - there is at least this fix

[2020-03-14 22:35] rusefi opened #15 "StackOverflowException with attached DSN"
@miho @andrasfuchs do you recognize this issue by any chance? See .dsn inside attached .zip

[stackOverflow.zip](https://github.com/freerouting/freerouting/files/4333415/stackOverflow.zip)

![image](https://user-images.githubusercontent.com/7377949/76691573-7e2cae00-6622-11ea-81d3-fb3ba569db18.png)

![image](https://user-images.githubusercontent.com/7377949/76691563-6bb27480-6622-11ea-9561-6cd2aa6

[2020-03-15 02:15] abelom commented on #15
And the way we got this .DSN is exactly matching #4 problem statement!

[2020-03-15 02:29] rusefi commented on #13
Speaking about array of relevant repos - there is also the one by the original auther.

This repo was not forked from https://github.com/nikropht/FreeRouting/ because it seemed like SouceForge copy had newer version of the source code or something like that.

[2020-03-15 03:42] rusefi opened #16 "is there anything to merge from FreeRoutingNew"
https://github.com/Engidea/FreeRoutingNew has a lot of commits but I am not sure if it's even possible now to bring all versions of freerouting together

[2020-03-15 11:56] miho commented on #14
Personally, I see no point in supporting Java 8 anymore. So you are definitely right about it being controversial ;) We plan to ship an application with a "minimal" runtime (in Java-terms, which means probably 30MB compressed). So there's no real Java 8 vs. Java 11 issue for regular end-users.

Since I maintain a lot of different repositories and cannot provide support for issues with multiple JVM

[2020-03-15 12:09] rusefi commented on #14
Once this application is self-contained it can use any version of java and not care for the users, but as of today I did not have java 11 installed nor did my PCB contributer - we both only had java 8.

https://www.baeldung.com/java-in-2019 is probably not good user statistics but 80% usage of version 8 is a very serious which should not be ignored in my opinion.

[2020-03-15 15:21] miho commented on #14
I am well aware of the statistics but since we agree that a self-contained app is the best solution anyway, that's not an issue. In the meantime people can use older binaries if they are unable to update their installation of Java. As of now, changes between older and newer versions of freerouting are not that huge.

[2020-03-15 15:41] rusefi commented on #14
It is my experience that the target audience is very confused by "incompatible class version 53" message (from memory) - some of the target audience would miss the fact that JRE 11 is needed.

I would actually make an argument that current release title "JDK 11" instead of "Java 11" would confuse at least someone :)

Speaking of usability let me create a usability issue :)

[2020-03-15 15:49] rusefi opened #17 "Release files usability"
Typically an end-users of any tool has to download one most important for end user file.

In our case we have freerouting.exe and what else? Which jar(s)? I would suggest packaging all the files needed to the end user into one .zip for a release.

To be honest I am a java developer yet I had to google the difference between freerouting.jar and freerouting-executable.jar myself - that's a gradle na

[2020-03-15 15:53] rusefi opened #18 ".github workflows"
This project could use .github workflows feature

One of the usages could be to to compile by different versions of java just to make sure that both 8 and latest are compiling.

[2020-03-15 15:54] rusefi commented on #9
@miho this did not make it into 1.4.1 right?

[2020-03-15 15:56] rusefi commented on #14
"self-contained app is the best solution anyway" I could be missing something.

Is self-contained app available as of today? Does freerouting.exe require external JRE as of today?

[2020-03-15 18:35] miho commented on #14
I just uploaded an MSI-installer with an integrated runtime. The .EXE is not self-contained. I renamed it on the GitHub release page to indicate that. I will configure GitHub actions to automatically create release builds for Windows, macOS and Linux (including installers and/or app-bundles). This should simplify things for end-users.

[2020-03-15 18:39] rusefi commented on #14
Sweet stuff :)

When you say macOS I think you really want to look at https://github.com/freerouting/freerouting/issues/9

[2020-03-15 18:42] rusefi commented on #14
I've installed the amazing self-contained .MSI and JFrame title shows what seems to be wrong version number?

![image](https://user-images.githubusercontent.com/7377949/76708166-26964d00-66cb-11ea-8237-d0ebd9f0767a.png)

[2020-03-15 18:47] miho commented on #14
That's a bug. The version should automatically update. But I forgot to add that to the build script.

[2020-03-20 17:08] miho commented on #17
**Update:** there are native packages for all major platforms. They are built via GitHub Actions and uploaded automatically whenever a release is created on GitHub. The freerouting-executable.jar is now merely a fallback for platforms/architectures we don't support officially.

[2020-03-20 18:43] miho commented on #17
snapshots are provided in a "SNAPSHOT" release: https://github.com/miho/freerouting/releases/tag/SNAPSHOT

[2020-03-21 10:12] andrasfuchs commented on #13
It's great that we are aiming to merge all freerouting repos!

In which repo should I submit my latest PRs? This one or the one [miho has](https://github.com/miho/freerouting)?

[2020-03-21 10:28] andrasfuchs commented on #14
Is my understanding correct that I can use Java 9+ constructs in the code, because you agreed to go with Java 11 and self-contained release files?

[2020-03-21 11:59] rusefi commented on #13
I do not know

I think it really depends on who plans to be actively developing. I do not plan to be actively developing

It looks like mine insist on java 11 which I believe is a mistake. On the other hand since I do not plan to develop and there is a self contained installer it's probably fine.

You now have access to merge into this repo directly. I am totally fine if my most recent changes wou

[2020-03-21 12:10] rusefi commented on #14
what specific constructs of java 9 are you interested to use? at the moment only "var" was used about 8 times.

i guess the question is: do we believe in this jar used as a library in a near future? if this jar would be used as a library maybe that's a reason NOT to force java 11 on consumers?

if this is always a standalone tool and now we have self-contained release I guess there are little reas

[2020-03-21 12:41] andrasfuchs commented on #13
I'm planning to be involved with the project as a developer, if we can confirm that people actually use it. If switching to Java 11 would mean that we loose users, then I would prefer the older version, otherwise I would vote for the most recent version.

Btw, could we solve the Java 8 vs 11 dilemma with the multi-jar release feature?

https://blog.idrsolutions.com/2019/05/java-8-vs-java-11-what-a

[2020-03-21 12:47] andrasfuchs commented on #14
I can't say what I would actually use from the newer features, I worked mostly on C# projects in the past.

So, I'm not really against Java 8, I just suppose that many improvements happened to Java (just like to C#) in the last 6 years, and it would be nice to benefit from them, that's all.

[2020-03-21 13:12] rusefi commented on #14
I am a professional java developer and things are a bit more complicated with java 8 to 11 migration. java 11 has removed a few things (which were probably supposed to be removed) and this has thrown many legacy projects into issues

also Oracle licensing has changed. it's a complicated matter and I would prefer not to debate it. Please make your own research on the java 11 controversy if you are

[2020-03-21 13:57] miho commented on #13
I think the discussion is purely theoretical. There is no real dilemma. Users don't (and should not) care which Java version is used internally. They should not be forced to install anything in addition to Freerouting. Neither Java 8 nor 11. Native installers do exactly that. Nobody is excluded or left behind.

[2020-03-21 13:59] rusefi commented on #13
Just for the sake of being factually correct, 32 bit users are left behind :) But we can agree that we leave 32 bit users behind since those are only a few percent at this point :)

[2020-03-21 14:13] miho commented on #14
The licensing issue is complex and a huge problem if users have to install their own JDK. This is unfortunately true for JDK 8 and 11 alike. So the real solution is to not force users to install Java at all.

[2020-03-21 14:22] #13 closed

[2020-03-21 14:23] rusefi commented on #17
https://github.com/miho/freerouting has great usability, this issue is closed

[2020-03-21 14:23] #17 closed

[2020-03-21 14:24] rusefi commented on #18
https://github.com/miho/freerouting has great working .github workflows

[2020-03-21 14:24] #18 closed

[2020-03-21 14:26] rusefi commented on #14
https://github.com/miho/freerouting/issues/19 created

I think the focus should be on how to bring two forks together and if https://github.com/miho/freerouting plans to merge into https://github.com/freerouting/freerouting

My preference would be for @miho and @andrasfuchs to make this decision without me. Any decision you guys make work for me, just make a decision and implement it.

[2020-03-21 14:26] #14 closed

[2020-03-21 14:27] rusefi commented on #15
@andrasfuchs @miho any interest to look into this bug? My PCB engineer is affected :(

[2020-03-21 14:31] andrasfuchs commented on #15
I'm already working on it ;)
I have a working solution at the moment that I'm planning to create a PR of in an hour or so.

[2020-03-21 14:57] andrasfuchs commented on #15
Here is my branch with the fix for this error, but it needs some testing. Could you try it?
https://github.com/andrasfuchs/freerouting/tree/issue-15-fix

I run it with the file you provided and as you will also see in the logs, there is something strange going on with a few nets. Namely "Net-(P1-Pad36)", "Net-(P1-Pad39)", "Net-(P1-Pad40)" and "Net-(P1-Pad44)".

Normally the method that caused the

[2020-03-21 15:34] rusefi commented on #15
Can you please attach a .jar file here? I am just the messenger. I can forward the .jar file to my PCB engineer. and since that would not be a self-contained archive you know... that little thing.

[2020-03-21 21:44] andrasfuchs commented on #15
I think it's a not a good practice to publish executables as attachments in issues, so I would like to ask you (or your college) to download the branch I mentioned above, and follow [the instructions](https://github.com/freerouting/freerouting#how-to-build-it) and use Gradle to compile the code into a .jar.

Let me know if you have any troubles with it, so we can find a workaround next week.

[2020-03-21 22:38] miho commented on #13
FYI we build 32 bit snapshot binaries for Windows ;)

[2020-03-21 22:42] rusefi commented on #13
Weird, I thought there is no 32 bit java 11

[2020-03-22 00:30] rusefi commented on #15
That's fair, let me cook the jar and report the results!

[2020-03-22 00:37] rusefi commented on #15
Proposed behavior abort the process, not really solves the root cause of why it fails:

[code]

[2020-03-22 10:50] andrasfuchs commented on #15
Don't worry too much about the exception details in the log, it only indicates that the normalization process got interrupted because of the potential endless loop condition.

What was the actual result from the user's perspective? Did you still get the StackOverflowException? Did you manage to open the file that you couldn't before? Were you able to do the routing on the file? Is there anything e

[2020-03-22 11:10] #6 closed

[2020-03-22 11:11] #2 closed

[2020-03-22 11:12] #1 closed

[2020-03-22 11:12] #3 closed

[2020-03-22 11:50] nmz787 commented on #6
Well I did get the non-ASCII file from a Cadence tool saving as Specctra
format. Should I open a separate ticket for non-ASCII file support request?

On Sun, Mar 22, 2020, 4:11 AM Andras <notifications@github.com> wrote:

[2020-03-22 11:57] andrasfuchs commented on #6
Yes, please!

[2020-03-22 13:28] rusefi commented on #15
@jharvey says "autorouter has worked with this newer JAR file and the original DNS file." - i.e. the fix has worked and output is still produced as expected

is there a way to hide scary stacktrace from strout? it should probably be a less scary one like INFO line

is this worth a unit test?

[2020-03-22 14:09] andrasfuchs commented on #15
Alright, great, thank you for the test!

Sure, sorry, I forgot to change the logging level for the stdout, I thought that that exception is only visible in the more detailed log file. I'll fix that in the next release.

The whole project would need a good unit testing framework, and many unit tests should be created, I'm just not sure I'm up to the task.
Nonetheless I think it's worth creating an

[2020-03-22 14:13] andrasfuchs commented on #4
As @abelom mentioned, this issue is probably related to #15.

Since the user @ghost got deleted, we have no way to prove or disprove that the fix would work for their case.

I close this.

[2020-03-22 14:13] #4 closed

[2020-03-22 14:32] rusefi commented on #15
from my experience it's impossible to just create all unit tests in a legacy project

on the other hand creating them one by one at least every time an issues is witnessed gives a ray of hope

[2020-03-22 14:55] andrasfuchs commented on #15
Sounds good to me, feel free to create a PR with the unit test you have in mind.
I already added the DSN file into the [tests folder](https://github.com/miho/freerouting/tree/master/tests) so you can use it for the unit test if you wish.

[2020-03-22 15:12] rusefi commented on #15
Паяльная станция.dsn and Pajalnaja_stancija.dsn is this the same file? the name is the same in Russian

[2020-03-22 15:14] andrasfuchs commented on #15
Yes, both would make a good unit test, one for the cyrillic file names, the other for the cyrillic characters inside the file.

[2020-03-23 10:49] andrasfuchs commented on #9
@rusefi, no I didn't, it got pulled only yesterday: https://github.com/miho/freerouting/pull/23.

I'll try to solve the merging conflicts between this repo and miho's soon, so that we can have the most recent version here as well.

[2020-03-23 10:54] andrasfuchs commented on #14
@miho, I merged my last PR from my own repo today, and I'm not planning to keep my repo anymore.
Would you also consider completely moving the our upstream repo (this), since we are both collaborators here?

I'm going to resolve the merging conflicts soon, so when yours and this get into sync, we could theoretically stop commiting to miho, and move here. What do you think?

[2020-03-23 11:56] andrasfuchs commented on #16
It's a shame that it was technically not forked from this repo, looking at their commits, it seems like @Engidea put in a lot of good work into the project.
He kept the source structure, so it might be still possible to at least try to merge his work, I'll look into this later this week.

Is there a chance that we can invite @Engidea to this repo too?

[2020-03-23 11:59] andrasfuchs commented on #10
@jlawton11 Thanks for reporting the problem, it looks like a serious bug.

If you have a chance, could you send us sample file(s)/screenshots so that we can reproduce the behaviour?

[2020-03-23 13:35] rusefi commented on #16
there must be a way to grab commits as patches and to rebase on this repo as long as it's more or less the same files originally?

[2020-03-23 13:59] Engidea commented on #16
There is a fundamental issue with freerouting that is bound to the use of rational numbers to describe the "lines".

I have managed to reduce as much as possible the use of the rationals but completing the step is really difficult due to some weird relationship between the classes on shapes.

I have been thinking of using another logic to describe the layout, a logic where you describe "tensions"

[2020-03-23 14:17] miho commented on #14
Sounds good.

[2020-03-24 09:18] andrasfuchs commented on #16
To be honest, I don't think anyone would start a bug rewrite of freerouting. We have to deal with what we got.

What do you think, are your improvements still relevant, should we spend some time with trying to include your code into the current codebase?
Do I understand it correctly that the export/reimport problem is kind of solved now with the newer version of KiCad and FreeCad?

If not, and if

[2020-03-24 13:34] andrasfuchs commented on #9
We have a new release here: https://github.com/freerouting/freerouting/releases

Could someone with MacOS confirm please, that this bug got fixed?

[2020-03-24 15:12] markuckermann opened #20 "Windows dpi scaling goes wrong"
I hope this is the correct repo for issues!

After starting freerouter it looks normal but as soon as I click on "Open your own desgin", everything is twice the size it should be. Possibly something to do with having a 4k high dpi screen but the same thing happens on my second screen (1080p).

![image](https://user-images.githubusercontent.com/17556569/77441346-3e638480-6de1-11ea-83de-ba98b2b3710e

[2020-03-24 16:25] markuckermann commented on #20
**Workaround**

If you specify the .dsn file via the command line it works well.
`\AppData\Local\Freerouting\Freerouting.exe -de '.\path_to\file.dsn'`

This opens the dsn file immediately and the scaling issue doesn't appear.

[2020-03-24 16:46] andrasfuchs commented on #20
Thank you @markuckermann for reporting this!

Could you share your Windows _Scale and layout_ settings with us?

![image](https://user-images.githubusercontent.com/910321/77453065-08c99600-6df7-11ea-9e06-5522f27076d6.png)

Do you have anything set in the _Advanced scaling settings_?

![image](https://user-images.githubusercontent.com/910321/77453201-3ca4bb80-6df7-11ea-8599-3770dc23f904.png)

[2020-03-25 14:27] Engidea commented on #16
The issue is only relevant if you keep going back - forth using Kicad - freeroute

If you stay in Kicad or stay in freeroute, you are fine.

Also, I do not really use autoroute since most of my work is using just two sides PCB. One side is groundplane and the top side is "connections". With this logic, routin is manual since there is no autoroute that is smart enough to avoid chopping the groundpl

[2020-03-25 15:38] rusefi commented on #16
We cannot apply changed from https://github.com/Engidea/FreeRoutingNew directly since folder structures are different between these two repositories, on the other hand the changes are DEFINITELY worth applying! For example, here is the first change in FreeRoutingNew - https://github.com/Engidea/FreeRoutingNew/commit/46ccc61a3c73c55562292c6019ce5941a808ebe8 (gui help extracted into separate class,

[2020-03-26 13:57] markuckermann commented on #20
@andrasfuchs yes I can:
![image](https://user-images.githubusercontent.com/17556569/77655040-c6749600-6f69-11ea-8f99-8548672430c1.png)

[2020-03-28 08:17] Engidea commented on #16
The logic of the application is quite complex, ALfons is surely quite smart.

There are quite a few "caching" classes that make the actual working obscure

The above to say that if there is something that does not work.... finding why is REALLY complicated. (this was part of my effort, reduce the number of "shapes" and reduce the complexity of the logic, beside what I wrote on my previous post.

T

[2020-04-04 13:10] rusefi opened #21 "Need some publicly visible clarification that this is not related to https://freerouting.org/"
https://freerouting.org/ is totally not related shall we somehow document this?

[2020-04-04 13:16] rusefi commented on #15
Let's keep this issue open until public binaries have the fix. It looks like latest 1.4.2 has the same (or different? stack over flow with the same input file.

[2020-04-04 13:26] rusefi commented on #15
@andrasfuchs poke

[2020-04-05 02:49] jharvey opened #22 "Auto-router Interrupted error and failed to auto-route."
When I click the auto-router button, I get the below, and the auto-router simply fails to try and work.
![image](https://user-images.githubusercontent.com/43058/78465485-62b63f80-76c4-11ea-8bf4-0ca8581f529f.png)

This DSN was created by inserting several footprints on a layout. Then auto-route, then desire to make changes. The changes needed to delete several traces and moved components. Then this

[2020-04-05 03:04] rusefi commented on #22
@andrasfuchs FYI

[2020-04-06 08:26] andrasfuchs commented on #15
@rusefi I think you're right, the fix is only included in the snapshot build if I remember correctly.

[2020-04-06 08:47] andrasfuchs commented on #22
Thank you for your report!

I can confirm that AutoRouter has some difficulties with the DSN file provided, but the good news is that the latest version could do the routing anyway for me for ~10 minutes without the "autoroute interrupted" error.

I used the following command line arguments to start the autorouting:
`freerouting-executable.jar -mp 16 -de .\tests\Issue22-AutoRouter_interrupted.dsn

[2020-04-06 08:52] andrasfuchs commented on #21
There is a small chance that the owner of that website could be open to some cooperation, I think. The last time he refreshed his feerouting executable was in 2017, so I think it's worth a shot to contact him, and let him know that we are here, keeping the project alive.

It would be great to have our releases on that URL too.

What do you think, @rusefi?

[2020-04-06 10:28] jharvey commented on #22
When I try the below it very quickly displays the last line, I see a very brief blink of what is perhaps the java launching. I do not get a ses file. See attached log.
[freerouter.zip](https://github.com/freerouting/freerouting/files/4437692/freerouter.zip)

This is from the cmd.

[code]

I got my snap shot jar from the below link.
https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT

[2020-04-06 10:33] jharvey commented on #22
I see the last line of the log notes failed to find location, so I tried the below and it seems to be working. AKA ./ vs ../

`C:\Users\Owner\Desktop\freerouting\Specail_build>freerouting-SNAPSHOT-2020-04-06_09-06-11-executable.jar -mp 16 -de ..\tests\Issue22-AutoRouter_interrupted.dsn -do ..\tests\Issue22-AutoRouter_interrupted.ses`

[2020-04-06 13:17] rusefi commented on #21
I've emailed Jürgen on Mar 14, 2020, 10:46 PM and I believe you were CCed?

No response so far.

[2020-04-06 13:20] jharvey commented on #22
I can confirm this has worked, it successfully auto-routed the dsn and has imported into KC and seems to be working as expected. Thanks for the solution to this issue. Let me know if there is something I can do to help with a permanent solution.

[2020-04-06 14:49] andrasfuchs commented on #21
Yes, you did, sorry!

Alright then, what would be your recommendation, how would you document this?

[2020-04-07 07:02] andrasfuchs opened #23 "The future of freerouting with deep learning"
Hi guys,

I just wanted to start a discussion about the vision of freerouting.

Yesterday I watched [Lex Fridman's interview with David Silver](https://www.youtube.com/watch?v=uPUEq8d73JI). It's absolutely mind blowing what potential deep learning and AI has.

They got me inspired, and I would be interested in your feedback.

Very simply put, we could use state of the art, open-source AI to do the

[2020-04-08 12:13] andrasfuchs commented on #15
@miho Could you create a new, 1.4.3 release for us in this repo please?

[2020-04-18 16:16] JustinEldracher commented on #23
Hello, unrelated to the current post, but I couldn't see a better place to put this:

THIS SOFTWARE IS AWESOME!!! 👍 👍 👍 👍 👍

I use KiCad for occasional PCB projects, and for my latest ones I really didn't want to route all the traces by hand.  So I did a quick search for a automatic routing software, found yours, installed it, and presto!!  I had fully routed PCBs in no time!!  The note in the Rea

[2020-04-18 18:57] andrasfuchs commented on #23
Thank you @JustinEldracher for your feedback!

I joined to the project only recently, but to be honest I'm hesitant to invest more time into this since I don't know how many people use it at the moment and how important is it for their projects.

The feedback like yours inspires me to spare more time for it in the future ;)

[2020-04-18 22:52] miho commented on #15
Just go to the release page and create a new one. Installers are built automatically.

[2020-04-19 09:28] andrasfuchs opened #24 "Binaries are not generated for the release"
Binaries are not generated for the release after it was created here, in this repo.

I got the following error:
![image](https://user-images.githubusercontent.com/910321/79684344-d6ae2700-8230-11ea-98b2-9e3c3d6e9162.png)

[2020-04-19 17:12] andrasfuchs commented on #24
I don't have the error now, but the binaries are not generated, they are not listed by the release.

![image](https://user-images.githubusercontent.com/910321/79694600-a20e8f80-8271-11ea-971c-26d925879a7c.png)

[2020-04-19 17:28] miho commented on #24
Looks like you didn't trigger the create-release workflow this time. Usually, this happens if the release wasn't fully deleted (including associated tags). See the test release [v0.0.0](https://github.com/freerouting/freerouting/releases/tag/v0.0.0) for which installers are generated. To see which workflows are/were running, see https://github.com/freerouting/freerouting/actions. BTW. documentatio

[2020-04-19 18:09] andrasfuchs commented on #24
Great, thank you for the details. I needed to delete the tag as well and recreate the release.
It looks good now.

[2020-04-19 18:09] #24 closed

[2020-04-19 21:04] miho opened #25 "Release v1.4.4 still has snapshot in version string"
BTW it seems like version 1.4.3 has been skipped accidentally.

[2020-04-20 08:38] andrasfuchs commented on #25
Alright, I will not fix this for this release (v1.4.4), only for the next.

[2020-04-20 08:59] miho commented on #25
@andrasfuchs that's fine. Just keep in mind that the word SNAPSHOT is added as suffix to the version number which is set to the version currently under development. Simply put, `snapshot-version > current version` (see [maven docs](http://maven.apache.org/guides/getting-started/index.html#What_is_a_SNAPSHOT_version)). When you release a Java library/application you remove the word snapshot from th

[2020-05-07 00:27] FXRer opened #26 "Autoroute interrupted, connections not found"
Hello,

I'm using freerouting 1.4.4 and I had successfully autoroute my small design exported from Kicad 5 with freerouting. However, after rotating one of the component in the same design, freerouting does not continue to autoroute and says: "Autoroute interrupted, xx connections not found" :

![Autoroute_interrupted_33_connections_not_found](https://user-images.githubusercontent.com/2199479/8124

[2020-05-07 09:40] andrasfuchs commented on #26
Hi @FXRer,

Thank you for using freerouting.
Could you share you DSN with us to reproduce the problem?

When I had a similar problem, I forgot to remove the already wired tracks in KiCad after I rotated the component. Did you remove all wired tracks and vias in Pcbnew before exporting the Speccra DSN with the rotated component?

You can do that easily with the Edit / Global Deletions command
![ima

[2020-05-07 17:02] FXRer commented on #26
Dear @andrasfuchs
Honestly, I had successfully autorouted the 1st version of .kicad_pcb of my design. I then recognized that a component needed to be rotate. I rotated it, updated DSN without removing the already routed tracks. I had the problem in this case.
Then, I wen back to the .kicad_pcb file, unrouted (deleted) all the routed tracks, updated the DSN and had freerouting to autoroute again. B

[2020-05-07 21:53] andrasfuchs commented on #26
Hi @FXRer,

I have just tested your file with the following command line arguments:
`-mp 16 -de Issue26-e-con_STEEReoCAM_Nano_FFC_MiniSAS_Adapter.dsn -do Issue26-e-con_STEEReoCAM_Nano_FFC_MiniSAS_Adapter.ses`

The process was finished, and I got this in my log file:

It looked just fine, but I couldn't import the .ses file into KiCad, I got the following error:
![image](https://user-images.githubu

[2020-05-08 04:11] FXRer commented on #26
Hi @andrasfuchs,
I think I resolved the problem. It did not come from the component rotation but from unused pads of J2. I updated the Kicad schematic by adding "no connection flag" for unused pads of J2 then re-ran the DRC of the schematic to make sure there's no significant error. I then re-created the .kicad_pcb file, exported the DSN and freerouting autorouted my design without any problem.

F

[2020-05-08 09:44] andrasfuchs commented on #26
Alright then, thank you for your feedback. I'm glad it worked out for you in the end.

I'll close this ticket now, but I uploaded your DSN file into our test-case folder, so that I can get back to it, if time allows it.

I'll let you know if I need more assistance with this, thank you for your offer.

[2020-05-08 09:44] #26 closed

[2020-05-09 16:01] oektomo commented on #23
Hi There,
I have an EE background but doing a lot in soft dev and still learning in statistic.
Just today I browse about AI autorouter and found out about:
deeppcb.ai
There is discussion in:
https://news.ycombinator.com/item?id=21660365
https://forum.kicad.info/t/tensorflow-based-autorouter/15844
some story here:
https://spectrum.ieee.org/tech-talk/computing/hardware/startup-jitx-uses-ai-to-automa

[2020-05-09 19:44] andrasfuchs commented on #23
@oektomo , thanks for the links!
I think it's a great that we have DeepPCB as an option and I'm really rooting for them.

Most of the comments by professionals on the ycombinator forum were a little arrogant for my taste, but we'll see, I hope AI will prove them wrong and it will help us make better PCB boards quicker, even if you are just an open-source hobbyist (like many of us).

Anyway, I watc

[2020-05-09 22:42] #25 closed

[2020-05-09 22:43] #22 closed

[2020-05-11 06:21] oektomo commented on #23
Couldn't agree more about the comment on ycombinator. I was a bit down to read such comment. But after reading your response, I think it's worth to make freerouting, AI capable.

It's a good video about Max since he quit college twice and keep working and pursuing what is good for him. It's not only inspire for entering open-source developer but also for keep working consistently.

For start, I al

[2020-05-11 08:54] andrasfuchs commented on #23
I think your plan sounds great, work on what you are passionate about, that's the most important :)
You can also see the planned to-dos listed here: https://github.com/freerouting/freerouting/projects/1

Have you worked with GitHub pull requests before, or do you need a quick introduction how to propose your changes for freerouting?

Sure, you can see my e-mail on my GitHub profile.

[2020-05-11 13:33] oektomo commented on #23
It's a good to-dos listed there, I was skimming it before you point it out. But after read it carefully, I think the multi thread things really interest me. I'll start it when I'm done trying out with my plan, the UI.

No, I haven't worked with GitHub pull requests. it's good if you can point out any tutor or link.

I'll e-mail you when the time's come.
Thanks.

[2020-05-11 13:51] andrasfuchs commented on #23
I run tests in the last 24 hours to compare the current [DeepPCB](https://deeppcb.ai/) and [freerouting v1.4.4](https://github.com/freerouting/freerouting/releases/tag/v1.4.4).

I used one of my projects, the [Bio Balance Detector](http://www.biobalancedetector.com/) Mars-64 rev. E PCB for the test. I chose this because I knew that it is not an easy routing, but it can be completed on 2 layers.

!

[2020-05-11 14:05] andrasfuchs commented on #23
@oektomo the process isn't too difficult, but it wasn't obvious for me when I first started doing open-source development, so don't get discouraged if something goes sideways.

It's actually kind of a coincidence that I just wrote a small summary of how to create a pull request on GitHub in another repo, [please check out my comment there](https://github.com/restsharp/RestSharp/issues/1452#issueco

[2020-05-14 02:24] jharvey opened #27 "AutoRouter Interrupted does not route."
This file was routed, then changed, then traces deleted, and now again auto-routed. However this second route is failing to route.

* [ ] What version of freerouting are you using?
freerouting-1.4.4-executable.jar
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
Win10 64 bit prof.
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
[zM

[2020-05-14 09:16] andrasfuchs commented on #27
Thank you @jharvey for the detailed report.

I looked into it, and the routing seems to be working on my machine with v1.4.4. Looking at your log file and the actual source code of freerouting, my guess is that something went wrong in your .rules file.

Do you have custom rules defined for this board? Could you share the zMRETestFixture.rules file too?

Could you try to rename your zMRETestFixture

[2020-05-14 09:33] #15 closed

[2020-05-14 10:07] jharvey commented on #27
The freerouting log gives warning that apparently are from the .rules file. In KiCAD I deleted a bunch of unused net classes, then re-exported and now its routing.

[2020-05-14 12:56] #27 closed

[2020-05-21 00:11] jharvey opened #29 "AutoRouter Interrupted does not route. (perhaps continued from #27)"
I thought issue #27 was good, but I'm having trouble again.

This file was routed, then changed, then traces deleted, and now again auto-routed. However this second route is failing to route. This appears to be a .rules file issue.

* [ ] What version of freerouting are you using?
freerouting-1.4.4-executable.jar
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
Win10

[2020-05-21 09:26] andrasfuchs commented on #29
I think this happens because you have space characters in the name of your clearance rules.
Could you replace the spaces with underscores (_), and try again?

I confirm that this is a bug, and we should not allow entering spaces in the first place (or at least not to save them into the .rules files), but for now I added a new, more detailed error message to the log file, so that we can at least fi

[2020-05-21 11:47] jharvey commented on #29
This is and has been my board setup in KiCad for quite a while.
![image](https://user-images.githubusercontent.com/43058/82555791-7283c900-9b36-11ea-926d-944eebfb482d.png)

It appears the .rules file is created by Freerouting. I was not sure how that file is generated, so I deleted it and then when I opened the dsn with freerouting it was created. It now routes as expected. I had previously remove

[2020-05-21 13:47] andrasfuchs commented on #29
I think both of your ideas are good, so I'll keep this issue open so that anyone who feels like it could provide a fix as a pull request.

For the folder thing there is a workaround I think: if you start freerouting with a "-di [your folder]" argument, it will use that as default.

[2020-06-04 09:06] pierremolinaro opened #30 "Cannot Open FreeRouter 1.1.4 on MacOS"
Feerouting Version: 1.4.4
Platform: OSX Mojave, OSX El Capitan
Did you use any command line arguments? -> No
Can you post a screenshot of the problem? -> Yes
<img width="488" alt="freerouter-damaged" src="https://user-images.githubusercontent.com/19705044/83737077-d50ab800-a652-11ea-8258-0f5cf4d5dbe2.png">

Please list the detailed steps to reproduce the problem
  Just trying to open FreeRouter

R

[2020-06-04 09:12] andrasfuchs commented on #30
Thanks @pierremolinaro !

@miho , could you take a look? Something fishy is going on with the Mac build, I had [some errors](https://github.com/freerouting/freerouting/runs/695852630) as well.

[2020-06-04 13:02] pierremolinaro opened #31 "Cannot Run Autorouter on MacOS"
Freerouting version: 1.4.4
Platform: MacOS Mojave, MacOS ElCapitan, other MacOS ?
Can you attach the actual (DSN) file? Yes, see below. I have tried different files, always the same behaviour.
Did you use any command line arguments -> No
Please list the detailed steps to reproduce the problem
  Open the `design.dsn` file with `Open Your Own Design` button. Ok.
 Click on `Autorouter` button. Immedi

[2020-06-04 16:47] miho commented on #30
@pierremolinaro, great that you mentioned the `xattr` command. That's a good starting point.

Here's my guess what's going on:

The `xattr -cr` command recursively removes file attributes. If the app bundle runs after issuing the command then this indicates we are not facing a technical issue with our executable. It seems that Apple rejects unsigned apps if the file attributes indicate that the ap

[2020-06-04 19:35] pierremolinaro commented on #30
Thank you for message.

I agree, it is related to application's signature.

I don't know if it can help you, I have developed an OSX application (https://github.com/pierremolinaro/ElCanari-distribution <https://github.com/pierremolinaro/ElCanari-distribution>, https://github.com/pierremolinaro/ElCanari-dev <https://github.com/pierremolinaro/ElCanari-dev>), and I have had  many many issues before p

[2020-06-05 18:24] pierremolinaro commented on #31
I think I figured out what's going on.

In my DSN file, I use  `autoroute_settings`.

When I change `(start_pass_no 1)` to `(start_pass_no 0)`, the autorouter runs one pass (pass 0) and stops.

By reading the source code, I think the `set_stop_pass_no` method is never called, the stop pass number remains 0.

I have inserted the instruction `result.set_stop_pass_no (99999);` in the AutorouterSettin

[2020-06-12 17:59] adamkrol93 opened #32 "Exclude pins from autoroute."
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using? **1.4.5-SNAPSHOT**
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? **MacOS**
* [ ] What type of file are you working with? Can you attach the actual (DSN) file? **Kicad files**
* [ ] Did

[2020-06-13 11:01] andrasfuchs commented on #32
Thank you @adamkrol93 for this feature request.

Just to clarify: by pins you mean unconnected pads, right?

In an ideal situation how would you prefer to define which pads you don't want to let the autorouter connect? In Kicad? In freerouting's graphical editor? Defined as a command line argument?

Could you try this as a workaround:
1, Open KiCad with your PCB
2, Right click on the pad that you

[2020-06-13 18:51] adamkrol93 commented on #32
By pins I mean pads, right.
I would like to select pad in freerouting graphical editor to exclude it from autoroute or route at all.
The problem is that I have input to my module and output. I would like to connect input pins directly to output pins, so that it isn't connected with any other pads.
![image](https://user-images.githubusercontent.com/6851171/84576708-30594a80-adb7-11ea-995a-e24704c66

[2020-06-17 10:41] CNLiuGuang opened #33 "Can projects add i18n（internationalization） support?"
Dear Developers：
     I am from a non-English speaking country, and I am using Freerouter on KiCad. I hope Freerouter can add i18n support, thank you!

[2020-06-17 12:49] andrasfuchs commented on #33
Thanks for the suggestion. I'm not familiar with i18n, but I can see that there is a good Java documentation about it here: https://docs.oracle.com/javase/tutorial/i18n/

If you feel like adding a new language to freerouting, you can do so by adding new files [to the resources folder](https://github.com/freerouting/freerouting/tree/master/src/main/resources/eu/mihosoft/freerouting). Only English a

[2020-07-01 18:05] adamkrol93 commented on #32
You are very close.

SDA and SCL from OUTPUT should be directly connected to INPUT. Because I can have some capacitor between SDA(INPUT) and SDA(IC1) and I want to skip this while connecting to OUTPUT.

[2020-07-02 14:21] timg11 opened #34 "freerouting 1.4.4 does not display anything from KiCad 5.1.6 DSN file"
* [ ] What version of freerouting are you using?  1.4.4 - I have tested with freerouting-1.4.4-executable.jar and freerouting-1.4.4-windows-x64.msi

* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? Windows 10 x64 1909
[code]
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?  Specctra DSN export from KiCad 5.1.6  (tried to attach, but

[2020-07-02 14:35] andrasfuchs commented on #34
@timg11 thank you for the bug report!

It looks strange indeed.

Could you try to run the following:
`java -jar freerouting-executable.jar -de Green14SegLED.dsn -do Green14SegLED.ses -mp 100`

If it doesn't start the autorouting, can you zip your DNS file first and than attach it to your reply so that I can test it too?

Thanks!

[2020-07-02 18:54] timg11 commented on #34
@andrasfuchs thanks for the response. Here is the result of your command line suggestion.  When run, the UI opens the same way with the empty window with blue rectangle.

[code]

[2020-07-03 19:25] timg11 commented on #34
I have figured out the issue. The design is divided into two boards, and there are two separate board outlines on the edge.cuts layer.
I modified the edge cuts layer to have a boundary line around the perimeter of both boards, and drew the board separate lines on the silkscreen layer.  With that change, freerouter works as expected.

Apparently there is an issue with multiple board outlines that c

[2020-07-06 13:22] andrasfuchs commented on #34
Excellent, thank you again for the report!

[2020-07-22 01:28] spiwocoal opened #35 "Can't open file. Stuck at "Loading desing..." in Windows 10 64 bits."
Whenever I try to open a .dsn file, it gets stuck at `Loading design F:\[path to design]\Freerouting Issue.dsn`.
The logs say `eu.mihosoft.freerouting.FreeRouting - Component.read_place_scope: ) expected`.

* [ ] What version of freerouting are you using?
Freerouting version 1.4.4
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
I am running Windows 10 64 Bit.
[code]

[2020-07-22 08:17] andrasfuchs commented on #35
@spiwocoal Thanks for the report.

Freerouting has a problem with the line 90 and 96 in your DSN file.
`(place SW41 242888 -97631.2 front 0 (PN '))`
`(place SW2 19050 -59531.2 front 0 (PN `))`

I spent an hour with the bug, but the DSN reader is such a [spaghetti code](https://en.wikipedia.org/wiki/Spaghetti_code) that I can't figure it out how to fix it properly.

Sorry for the inconvenience.
If

[2020-07-22 20:27] spiwocoal commented on #35
Thank you! I didn't even think quotes could be the problem but now that I think about it it makes sense...
I think I'll take this opportunity to see if I can contribute to the project in some way

[2020-07-24 15:25] focuzar commented on #9
<img width="419" alt="err" src="https://user-images.githubusercontent.com/56913133/88407427-ba9dc100-cdef-11ea-9b26-065f2f5a765c.png">

I am getting this error when try to launch.

[2020-07-27 08:46] andrasfuchs commented on #9
Could someone with MacOS fix this and create a pull request?

[2020-08-01 02:42] qoq commented on #35
This problem is caused by unquoted non-ascii characters.
For example, this works fine:
(place XX 111 222 front 90 (PN ASCII123))
This gets stuck at "Loading":
(place XX 111 222 front 90 (PN NONASCII))
And this also works fine:
(place XX 111 222 front 90 (PN "NONASCII"))

Spectra parser should learn how to parse unquoted UTF-8

[2020-08-07 00:08] jacobtohahn opened #36 "Autorouter refuses to use 45 degree traces on pins"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
v1.4.4
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
Windows 10, 64-bit
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
DSN,
[SBC.zip](https://githu

[2020-08-07 07:52] pierremolinaro commented on #36
Hello,

I think the "restrict pin exit directions" checkbox is checked in the "Router Parameter" window (in the menu bar : Parameter -> Route).

Just uncheck it, I think it solves the issue.

Best regards,

Pierre Molinaro

[2020-08-07 14:55] jacobtohahn commented on #36
Pierre,
Thanks for the suggestion - it solved it! I had a feeling there was some option somewhere, but didn't realize that the "route" options also affected the autorouter, seeing as there was a separate menu for that.
Thanks!

[2020-08-07 14:55] #36 closed

[2020-09-05 22:10] undermark5 commented on #35
While the spectra parser should probably learn how to parse unquoted UTF-8, it is still failing to properly parse unquoted ASCII apparently the issue here was with the `'` character which is plain old ASCII and I just ran into this issue today with both `'` and `` ` `` characters (keyboard layout) it also will fail with `|` as well. though I think it fails differently. I think part of the issue is

[2020-10-09 07:50] huangshiyu13 opened #37 "What is the routing algorithm used in this software?"
I'm new to this repo and I want to know what routing algorithm this repo uses. Is there any introduction to the core algorithm used in this repo? Thanks!

[2020-10-09 08:29] andrasfuchs commented on #37
@huangshiyu13 There is no thorough documentation of it as far as I know. The code itself is fairly documented, but it was still challenging to understand parts of the algorithm for me.

It would be fantastic if you could dig deeper and understand the algorithm, because then this project had a chance to improve further.

I can point you to the Java classes that are used by the routing algorithm, an

[2020-10-09 09:08] huangshiyu13 commented on #37
@andrasfuchs Thank you very much! I'm working on devoloping deep method for circuit routing and I'd like to use freerouting as a baseline. I'll really appreciate it if you can help me on this repo.

[2020-10-09 15:45] andrasfuchs commented on #37
@huangshiyu13 Alright, give me a few days, I'll find the time to put together a few instructions for you.

Is your goal to understand the actual algorithm in freerouting or do you only want to test different PCB designs and compare the routing results between freerouting and your own?

[The most recent freerouting release](https://github.com/freerouting/freerouting/releases) supports many useful [

[2020-10-10 02:44] huangshiyu13 commented on #37
I have two purposes:
1. I'd like to understand the routing algorithm used in freerouting, and maybe I can borrow some ideas to develop my algorithm. (It would be better if the core algorithm in this repo can be transferred to Python, because I'm mainly working with Python now. And I don't care about the GUI part in this repo.)

2. I'd like to use freerouting as a baseline. I want to compare my met

[2020-10-10 04:01] huangshiyu13 commented on #37
@andrasfuchs I have some maps need to be routed. These maps are toy cases of real PCB  boards. This repo can load complicated PCB board file(the .dsn file), but I only want to test on my own define maps. There are two options for me to do the test:

Opt 1: I convert my maps to the standard file(the .dsn file). But I have no idea what the dsn file is, and I also don't know how I can do it.

Opt 2.

[2020-10-10 09:08] andrasfuchs commented on #37
@huangshiyu13 Great stuff!

So, the Java -> Python conversion might be tricky, but according to the recent [State of AI 2020 report](https://www.stateof.ai) you can see it's not totally impossible (slide 25.)

If you needed to support another file format than DSN, I would look into the [DsnFile.java](https://github.com/freerouting/freerouting/blob/master/src/main/java/eu/mihosoft/freerouting/desig

[2020-10-10 09:29] huangshiyu13 commented on #37
@andrasfuchs I have a look at the ` DsnFile.java`, it is really complicated. I think the simplest way to use freerouting is that I create a dsn version of  my maps. So I need to undertand each part in the dsn file. I have opened some dsn files in the [tests]. I think it would be easier to generate a dsn file than modifing the code to read my maps.

Actually, I have my own simulator, the maps can b

[2020-10-10 09:50] huangshiyu13 commented on #37
About the freerouting, I have three thoughts:

1. Even executing in a command line, it still start a GUI. Maybe you can remove the GUI part or hide the display in the command line mode.

2. Is there a timer for the autorouting? Maybe we can set a maximum time for the routing algorithm. When it is overtime, it should stop.

When I need evaluate the algorithm of freerouting, I need to run it on a se

[2020-10-11 19:53] andrasfuchs commented on #37
1, Yes, well, unfortunately that isn't so easy, because the software architecture we inherited from the original author of freerouting doesn't separate the GUI from business logic, sorry.

2, There is no timer, but you can limit the number of passes allowed with the command line argument `-mp`.

[2020-11-07 16:57] leftehjam opened #38 "llegal character '}' I think its there is no input sanitization done"

[2020-11-07 17:16] leftehjam commented on #38
* [1.4.4 ] What version of freerouting are you using?
* [Windows ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
* [ DSN] What type of file are you working with? Can you attach the actual (DSN) file?
* [N ] Did you use any command line arguments?
* [ soon] Can you post a screenshot of the problem?
*  Can you include the latest, related log entries from the .log file?
[A

[2020-11-07 17:53] leftehjam commented on #38
Checking dsn file reveals 2 things of note. kicad does use " " for special characters if it is " there is no special character.
IF you rename your nodes (in KiCad) it will change the error to the class section at the bottom of the dsn file (class kicad_default "" " 0 1 1.8v 2 ....... } ) The only way to fix this bug is to delete the current PcbNew file re change the offending nodes and then reload

[2020-11-25 01:06] sliedes opened #39 "java.lang.ArrayIndexOutOfBoundsException: Index -1 out of bounds for length 8"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [x] What version of freerouting are you using? Latest HEAD (6f2855cb), code slightly modified as described below.
* [x] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? 64-bit Arch Linux.
* [x] What type of file are you working with? Can yo

[2020-12-24 10:27] simonbeylat opened #41 "freerouting autorouter without graphical interface ! I want to run freerouting on a dokcer container, I only need the autorouter and i run it with commande line. is it possible to run it without using graphical interface ?"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
* [ ] Did you use any command line arguments?
* [ ] Ca

[2020-12-24 10:27] simonbeylat opened #42 "freerouting without graphical interface"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
* [x] Did you use any command line arguments?
* [ ] Ca

[2020-12-24 10:29] simonbeylat commented on #42
I want to run freerouting on a dokcer container, I only need the autorouter and i run it with commande line. is it possible to run it without using graphical interface ?
 I'll send it into a computer server without screen

[2020-12-24 10:29] #41 closed

[2021-01-15 00:29] luke-biel commented on #9
I've managed to go into `Freerouting.app/Contents/MacOS` and run `java -jar Freerouting` and it worked, no exceptions. It seems that there's issue in how the application is bundled for Osx.

[2021-02-07 10:23] ranseyer opened #43 "Question/Feature: Script for deeper EAGLE integration"
When i use Freeroute, i have alway the same workflow
-remove the GND Polygons
-Run the ULP for creating the DSN File
-undo the removal of the GND Polygon
-Open Freeroouter
-Search the ULP / start the autorouting
-Save the EAGLE-Script
-Run the script in EAGLE

I have not really experiance with EAGLE scripts. But i tsounds for me much easier only run a script for all of this (except of the GND Poly

[2021-02-26 17:10] R030t1 opened #44 "Deprecation of JFrog Bintray"
Download link in README references JFrog Bintray which will be going offline in a few months.

[2021-03-04 16:03] FreuzHub opened #45 "Failed to route a pre-routed board with vias"
Hi,

I'm using version 1.4.4 on Windows 10 64-bit to route a 4-layers small board (4"x1.6") made by Kicad version 5.1.5. I manually pre-route some critical paths with vias. The autorouting process won't route the pre-routed portion with via to the rest of associated net. To work around this, I remove vias and retry autorouting with success.

Regards,

[2021-03-17 12:53] Bazmundi opened #46 "Component Border dislodges from pads."
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using? 1.3.1 from Layout Editor so apparently 1.2.43 from Wirtz
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? Windows 10
* [ ] What type of file are you working with? Can you attach the actua

[2021-03-17 13:06] Bazmundi opened #47 "Component border tears"
Info as per https://github.com/freerouting/freerouting/issues/46

![image](https://user-images.githubusercontent.com/1772587/111471133-7c875000-8778-11eb-9641-c9e12bed01c7.png)

* [ ] Can you include the latest, related log entries from the .log file?  No log started
* [ ] Please list the detailed steps to reproduce the problem

- Tried to grab pad of component.
- Dragged diagonally down to right.

[2021-04-07 11:30] Pontifex42 commented on #26
Got the same issue. And found a solution: there is a separated ".rule" file beside the dsn file. This file has been created at the "Export Spectra Session" time at a previous autorouting. Deleting this file solves the issue.
Obviously, the rule-file is used without further notice during opening a dsn file. If it is corrupt or does not fit to dsn file .... thats it.

[2021-05-07 13:53] hhaudio opened #49 "Error Message When Installing on OSX Mojave 10.14.6"
Hi, I am trying to install Freerouting on OSX Mojave 10.14.6 for use with KiCad (5.1.2). I downloaded the installer from the following source: https://github.com/freerouting/freerouting/releases/tag/v1.4.4

When I open the downloaded dmg I get a folder with the freerouting program inside. When I try to open this program I get an error message saying that it's "damaged and can't be opened" (see att

[2021-05-07 14:03] andrasfuchs commented on #49
This might be a similar to the issue #30.

I'm not familiar with OSX, but @pierremolinaro's solution might work for you too:
`sudo xattr -cr <<path>>/Freerouting.app`

[2021-05-07 14:10] hhaudio commented on #49
@andrasfuchs This worked for me, thanks! Perhaps worth making a note of on the downloads page.

[2021-05-07 14:48] andrasfuchs commented on #49
I'm glad it worked!

Is your project publicly accessible? Judging by the "several hundred low hz signals" expression it must be a really interesting piece of hardware ;)

[2021-05-07 14:48] #49 closed

[2021-05-07 16:22] hhaudio commented on #49
@andrasfuchs Not publicly accessible as of yet, but will be online once it's finished. It's for a piece of PCB artwork in this vein: https://www.hammerheadaudio.com/art/great-wurm https://www.hammerheadaudio.com/art/knave-death

[2021-05-31 20:51] Corallus-Caninus opened #50 "binary not available for download"
I am unable to download the binary from the website and get a 403 response.

Thanks.

[2021-06-01 17:21] andrasfuchs commented on #50
Did you try to download them from https://github.com/freerouting/freerouting/releases/?

It seems to be working for me at the moment. Could you try it again?

[2021-06-02 05:37] miho commented on #50
I think this is related to the recent bintray shutdown. I will fix it asap. Meanwhile use the link mentioned by @andrasfuchs .

[2021-06-03 18:13] miho commented on #44
Thanks. Links have been fixed.

[2021-06-03 18:13] #44 closed

[2021-06-03 18:13] miho commented on #50
We link to Github now.

[2021-06-03 18:13] #50 closed

[2021-07-01 10:19] philtimmes opened #51 "No way to set minimum distance / clearance for holes / vias"
PCB makers have clearance issues with vias and holes... so we need a way to set min-distance between holes.

[2021-07-19 16:03] AlexIII opened #52 "Improve the routing algorithm by investigating the fork "1.2.43 Extra""
I've tried to run a few boards without messing with any parameters, just hitting "autorouter".
`1.2.43 Extra` always seem to produce much more optimal (in terms of via count and length) and overall nicer looking boards.
It would be nice to have an option to use the old algorithm.

Old version:
![ver_1 2 43 _Extra](https://user-images.githubusercontent.com/10047074/126189942-c1f58746-067c-4d55-8acf

[2021-07-23 09:52] andrasfuchs commented on #52
I don't think we published the `1.2.43 Extra` version, it's most likely a fork of this repo with possible improvements.
Could you provide a link to its source code or if that's not available then the location where you downloaded it from?

[2021-07-23 11:00] AlexIII commented on #52
I'm sorry, I cannot recall where exactly I got this version. Here's the exe file, if it's of any help. It seems to be packed with launch4j.
[FreeRouting.zip](https://github.com/freerouting/freerouting/files/6868244/FreeRouting.zip)

[2021-07-23 11:42] andrasfuchs commented on #52
Alright, I found a reference to this "extra" version [on a Japanese site](https://kanpapa.com/today/2020/05/kicad-freerouter-openjdk.html), but I couldn't find its author or its source code, so unfortunately it's very likely that we are not able to integrate this routing algorithm into our version.

Thank you for the information though, it's good to know that someone had the time to improve on it,

[2021-07-23 15:04] AlexIII commented on #52
I investigated the situation a little. I didn't find direct mentions of the "Extra" version and where I get it, so I decided to de-compile it and compare with v1.2.43 that I've found [here](https://centos.pkgs.org/7/epel-x86_64/freerouting-1.2.43-2.20140513git265f040.el7.1.noarch.rpm.html) (sources available). I manually looked through all the files and have found no significant differences. Also

[2021-07-23 22:30] andrasfuchs commented on #52
Thank you for your efforts.

I don't have much free time nowadays, but I'll look into it as soon as I can.

Could we somehow formulate what do you mean by "better" boards? Via count and total track length sounds OK, but how do we define nicer looking? Does it really matter in the end?

It would be also great to have some sample boards that you are familiar with for testing. Could you share some wi

[2021-07-24 06:31] AlexIII commented on #52
I started to pick the boards for testing and running them multiple times with 3 different versions of the program. I immediately confirmed something that I initially didn't want to believe: the algorithm is unstable (given the exact same input it may still produce different results). I tried to run the board in `1.2.43` and in 10 re-runs I was getting via count anywhere from 21 to 13. After trying

[2021-07-24 12:36] andrasfuchs commented on #52
First of all thank you for the kind words, and the work you already put into this issue.

I see what you mean by improving the routing by introducing penalties for certain patterns, and I agree that it would be beneficial.
My hesitation to modify the routing code roots in my previous attempt to refactor the code. It's reasonably complicated and it's written in an old school way, which makes it dif

[2021-08-04 11:51] lynchaj opened #53 "Request Windows 32 bit version"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [x] What version of freerouting are you using?  old Java based 1.2.43 (confirmed)
* [x] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?  Windows10, 32 bit with Java
* [x] What type of file are you working with? Can you attach the actual (D

[2021-08-04 13:00] lynchaj commented on #53
Thank you for your consideration.  Much appreciated!

[2021-08-06 23:17] lynchaj commented on #23
Hi
Years ago, I recall corresponding with Anthony Blake who wrote the Topological Autorouter

https://geda-dev.seul.narkive.com/gWNGZKO5/gsoc-project-topological-autorouter

This is an extremely interesting project and could produce some truly amazing results.  I think remnants of the program are still on the internet although probably difficult to find these days.

https://github.com/russdill/pcb

[2021-08-09 09:18] devinpooja commented on #42
I too want to run auto-router in background without open the pop up of auto-routing.
Is it possible to run it without using graphical interface ?
Your efforts will be highly appreciated.

[2021-08-09 12:02] andrasfuchs commented on #42
Unfortunately we don't have the option to run it without the GUI at the moment.
It would need great effort to separate the GUI and the business logic. I agree 100% that it would be a great step forward.

It would be a big contribution if someone dived into the source code and made the needed modification as a pull-request.

[2021-08-10 07:03] strayer opened #54 "Autorouter aborts with "This board was already evaluated, so we stop autorouter to avoid the endless loop.""
I've been trying to run freerouting on the keyboard I'm working on, but it always fails at pass 5 (or somewhere around that). I can't say that there are no issues with the PCB, but Kicad DRC reports nothing except unconnected elements. Due to being a mirrored PCB there are a lot of traces to be made, but I don't think it should be impossible.

When I import the session file in Kicad, only these tw

[2021-08-10 07:27] strayer commented on #54
I rotated the first row of switches at the bottom right, that allowed the autorouter to at least route the top switch that didn't work before. After manually routing the bottom switches pads that don't work, the autorouter now seems to be able to continue:

<img width="1273" alt="grafik" src="https://user-images.githubusercontent.com/310624/128825699-a4902455-6453-4b4e-a781-b45510e791f9.png">

I w

[2021-08-14 13:02] lynchaj opened #55 "Add"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
* [ ] Did you use any command line arguments?
* [ ] Ca

[2021-08-14 13:09] lynchaj opened #56 "Add "Discussions" tab to freerouting/freerouting"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using? 1.2.43 Extra
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? Windows 10, 32 bit
* [ ] What type of file are you working with? Can you attach the actual (DSN) file? N/A
* [ ] Did you use

[2021-08-14 20:58] #55 closed

[2021-08-14 21:08] andrasfuchs commented on #56
Hi Andrew, thanks for the tip, I like it.

I don't have the option in the settings where it suppose to be, probably because I have limited access rights to the repo.

@abelom, could you take a look?
Here is a quick tutorial how to enable discussions: https://docs.github.com/en/discussions/quickstart

[2021-08-14 21:16] lynchaj commented on #56
Thank you!

Andrew Lynch
     On Saturday, August 14, 2021, 05:08:48 PM EDT, Andras Fuchs ***@***.***> wrote:

Hi Andrew, thanks for the tip, I like it.

I don't have the option in the settings where it suppose to be, probably because I have limited access rights to the repo.

@abelom, could you take a look?
Here is a quick tutorial how to enable discussions: https://docs.github.com/en/discussions

[2021-08-15 17:03] abelom commented on #56
We now have https://github.com/freerouting/freerouting/discussions/57

[2021-08-15 17:05] abelom commented on #56
@andrasfuchs I've elevated your account on freerouting as well

[2021-08-15 18:20] lynchaj commented on #56
Thank you!

Andrew Lynch

[2021-08-15 21:04] andrasfuchs commented on #56
That's great, thank you @abelom!

[2021-08-15 21:04] #56 closed

[2021-08-17 09:53] erichVK5 commented on #42
I have removed the GUI swing and AWT code, locale logic and have simplified the logging to simply print to stdout.

My colleague has also simplified the build process with a Makefile, allowing gradle to be removed as well.

The end result is a functional command line implementation of Freerouting that can be run headless in automated workflows.

I have endeavored to minimise the required dependenc

[2021-08-18 06:15] devinpooja commented on #42
Hello erichVK5 Sir,

I have tried the freerouting_cli but it is throwing me error shown below.
![Screenshot from 2021-08-18 11-41-58](https://user-images.githubusercontent.com/88655726/129847130-32c91a56-75d3-44e3-894a-f97ef69445f6.png)

[2021-08-18 06:42] devinpooja commented on #42
Thank you so much for your efforts.
It exactly is doing what I wished for.

Your efforts are great.
![Screenshot from 2021-08-18 12-07-31](https://user-images.githubusercontent.com/88655726/129850317-dbc5aa5b-419a-4ce4-ae53-894582d3e347.png)

[2021-08-25 20:47] roontoon opened #63 "Damaged Mac .DMG file for current version."
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:

* [x] On what platform did you run it?
MacOS
Running Big Sir 15.2
Cannot download due to a damaged file error. Have downloaded many times with same result.

[freerouting0.pdf](https://github.com/freerouting/freerouting/files/7049820/freerouting0.pdf)

[2021-09-01 02:42] LG-1 commented on #37
@huangshiyu13  Hi Shiyu, have you got any ideas to execute freerouting on your own maps? I have some the same format maps, and want to get solutions of routing on it, or any suggestions from you can help me?

[2021-09-01 03:48] huangshiyu13 commented on #37
Unfortunately, I haven't found a way to load such grid maps into the freerouting.

[2021-09-01 15:19] lynchaj commented on #37
Hi
I don't know anything about what you are trying to do.  However based on what you've said why not use KiCAD eeschema and PCBnew to create a pseudo circuit board and export the DSN file from there?  Use eeschema to create a schematic with the nets you want (points to connect simulated as mounting holes).  Then import into PCB into PCBnew and use keep out zones to  fill in the obstacles, place th

[2021-09-01 17:25] lynchaj commented on #37
I made a simple schematic and PCB in KiCAD to test my suggestion.  It has 4 points with 1 & 2 connected in a net and 3 & 4 connected in a separate net.  Then made a PCB with a obstacle made from multiple keep out zones in the middle and placed the points at random on the PCB.  It worked fine and when I exported the DSN to FreeRouting it routed just fine.  If you use a large blank PCB and fill in y

[2021-09-05 23:59] rothn commented on #9
I am still seeing this issue in 1.4.4:

[code]

[2021-09-18 19:51] andrasfuchs opened #65 "Sign our executables"
Not signing our executables might cause problems on Mac, so it would be great to include signing in our builds scripts.

[Jsign](https://github.com/ebourg/jsign) might be a good candidate for this task.

[2021-09-19 15:47] andrasfuchs commented on #53
I spent a few hours on our build scripts and the Windows x86 (32-bit) version are now available, you can download it from here:
https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT

Could you test it and confirm that it works as expected on a 32-bit system?

[2021-09-19 15:49] andrasfuchs commented on #63
Could you check the latest snapshot release, please?
You can get it from here: https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT

[2021-09-19 16:07] lynchaj commented on #53
Hi Andras,
Thank you so much for making a 32 bit Windows version of FreeRouting. Unfortunately I get an error message (see attached image) and it does not install.

Thanks, Andrew Lynch

     On Sunday, September 19, 2021, 11:47:46 AM EDT, Andras Fuchs ***@***.***> wrote:

I spent a few hours on our build scripts and the Windows x86 (32-bit) version are now available, you can download it from here

[2021-09-19 16:10] lynchaj commented on #53
Hi Andras,
Well, the attachment got stripped off my email. It was a PNG but it said "This installation package is not supported by this processor type. Contact your product vendor."

Hopefully this is easily fixable. Thank you! Andrew Lynch
     On Sunday, September 19, 2021, 12:07:54 PM EDT, lynchaj ***@***.***> wrote:

 Hi Andras,
Thank you so much for making a 32 bit Windows version of FreeRout

[2021-09-19 16:15] andrasfuchs commented on #53
Sure, no problem.
Thanks for the feedback! I will probably need your help again if I have a newer version to test, because I don't have a 32-bit system. I'll let you know here when the new file is ready.

[2021-09-19 16:18] lynchaj commented on #53
Hi Andras
OK great! Looking forward to it

Thanks, Andrew Lynch     On Sunday, September 19, 2021, 12:15:11 PM EDT, Andras Fuchs ***@***.***> wrote:

Sure, no problem.
Thanks for the feedback! I will probably need your help again if I have a newer version to test, because I don't have a 32-bit system. I'll let you know here when the new file is ready.

—
You are receiving this because you authored

[2021-09-19 17:07] andrasfuchs commented on #53
I know it's not ideal, but you can try to use the .jar release. If you [download that JAR file](https://github.com/freerouting/freerouting/releases/download/SNAPSHOT/freerouting-SNAPSHOT-2021-09-19_14-45-42.jar), and install [the 32-bit Java 11 runtime](https://adoptopenjdk.net/releases.html?variant=openjdk11&jvmVariant=hotspot#x32_win) on your machine, you should be able to run it.

For example,

[2021-09-19 18:32] lynchaj commented on #53
Hi Andras,
OK, that worked. I downloaded the 32 bit Windows version of the OpenJDK JRE (29MB) and installed it. Then downloaded the FreeRouting snapshot. It ran right away in the new OpenJDK JRE like expected. Also my previous version of Java 8 and FreeRouting 1.2.43 Extra were not effected so they still run.

The new FreeRouting starts right up and loads designs no problem. However most of the ti

[2021-09-19 21:01] roontoon commented on #63
Sorry. Doesn’t work

[2021-09-19 21:02] Laughy10704 commented on #63
The jar file from the latest snapshot works, but I can confirm I have the same problem as roontoon with the .dmg file

[2021-09-19 22:40] andrasfuchs commented on #63
Thank you guys for the quick reply. I'll let you know here if I have a new .dmg to test.

[2021-09-20 08:27] pierremolinaro commented on #63
I agree, same problem for me.

I have ran :

xattr -d com.apple.quarantine <path to>Freerouting.app

it solves the problem for me, I don't know if this is a reliable solution.

I have read the create-distribution-macos.sh script, surprisingly it does not use apple ID. So I suggest the DMG file to contain not the application, but a .pkg file that installs the signed application.

I have my own Free

[2021-09-20 14:28] andrasfuchs commented on #63
@pierremolinaro, have you tried [the --mac-sign jpackage parameter](https://docs.oracle.com/en/java/javase/14/docs/specs/man/jpackage.html) by any chance?

Would any of you guys consider making a pull request with the needed changes in the [create-distribution-macos.sh](https://github.com/freerouting/freerouting/blob/master/distribution/create-distribution-macos.sh) script to produce a signed DMG

[2021-09-20 14:30] andrasfuchs commented on #65
This would theoretically solve the DMG related issues (#63, #31, #30).

[2021-09-20 15:44] andrasfuchs commented on #54
Thanks for the report and dsn file, and sorry for the late reply. I got some time to test it just today with the latest snapshot version of Freerouting.

I used this command line:
`freerouting.jar -de .\tests\Issue54-tairakb.dsn -do .\tests\Issue54-tairakb.ses`

The log I have looks suspicious, something is definitely not ideal, but the auto-router and the routing optimizer completes on my machine

[2021-09-20 15:51] strayer commented on #54
Thanks for looking into it! My PCB layout changed a bit since creating my original issue and currently I can't get it to work at all, it always fails. I'll try the latest snapshot if I have time, but for now I simply manually routed everything (with a shocking amount of Vias though...)

While trying the autorouter on the (hopefully) final design I had a feeling that it may have issues with all of

[2021-09-20 16:20] pierremolinaro commented on #63
I also use Catalina for my application development.

I have tried —mac-sign without any success, the jpackage exits on error. However, many other options should be provided : --mac-signing-key-user-name, --mac-bundle-signing-prefix, --mac-signing-keychain.

So I find that using codesign is simpler.

I do not know if it is possible to get a signed mac application without any Apple ID :
	https://dev

[2021-09-20 16:37] pierremolinaro commented on #63
Maybe there is a way to have a single development script, valid for all users.

Assuming that the user who wants to distribute the application has a Developer ID, he can get it by running :

security find-identity -v -p codesigning

On my Mac it displays:
  1) 70xxxxxx85 "Apple Development: ***@***.*** (U399CP39LD)"
     1 valid identities found

70xxxxxx85 is SHA1 key associated with my developer

[2021-09-20 21:04] andrasfuchs commented on #53
Hi Andrew,

Yes, you are right about the looks, it hasn't been changed in ages. :)

The 32-bit MSI installer would be a lot trickier than I thought, and I already spent more time on it than I wanted, so if the workaround works then I will leave it like that. I added a new section about the problem to [our readme page here on GitHub](https://github.com/freerouting/freerouting#running-freerouting-on

[2021-09-20 21:04] #53 closed

[2021-09-21 09:12] pierremolinaro commented on #65
Sorry, but the application in freerouting-SNAPSHOT-2021-09-20_18-02-16-macos-x64.dmg also fails to execute.

You can check it is invalid by running :
 /usr/bin/codesign --verify --deep --strict --verbose=2 /Volumes/Freerouting/Freerouting.app

The response is:
/Volumes/Freerouting/Freerouting.app: code has no resources but signature indicates they must be present

Submitting a valid application (a

[2021-09-21 12:10] andrasfuchs commented on #63
Hmm, I never had an Apple Developer account before, so I started my registration today with my Apple ID.

Do I understand it correctly that it costs ~100 USD/year just to have this type of account?

[2021-09-21 12:44] pierremolinaro commented on #63
No, it is free. After download Xcode and add account in Xcode Preferences > Account.

Pierre

[2021-09-21 13:08] andrasfuchs commented on #63
Xcode is only on macOS, right? I don't have a Mac :/
I suspect that it would somehow be possible to run a Mac virtual machine on Windows, but I have no experience with that.

[2021-09-21 17:39] JonathSpirit opened #66 "Spam of thread error exception"
Freerouting v1.4.5-SNAPSHOT (build-date: 2021-09-21)
windows 10 21H1 64bit

Command line used :
java -jar freerouting-executable.jar -Xmx32g -mt 24 -us greedy -is prioritized -de Project_GP8B.dsn -do test.ses

This error message appears pretty often when optimizer start :
`[Thread-1] ERROR Exception in thread pool worker thread: Thread[Thread-1,5,main]
java.lang.NullPointerException: null

[2021-09-21 18:43] andrasfuchs commented on #66
Thanks for the report, that's a cool project!

I had the same NullPointerException thing yesterday and hopefully I fixed it. I can't tell which exact build you had, could you make sure that you use the currently latest `freerouting-SNAPSHOT-2021-09-20_21-26-39.jar`?

I'm running it with your provided DSN file right now, it's doing the first route optimization pass and it looks okay at the moment.

[2021-09-22 10:55] andrasfuchs commented on #66
I let the route optimizer to run for pass 16, and it still looked good, so I close this issue.

You can always get the latest binaries from the SNAPSHOT section of [the releases page](https://github.com/freerouting/freerouting/releases).

[2021-09-22 10:55] #66 closed

[2021-09-22 11:48] JonathSpirit commented on #66
Thanks,

I build freerouting using Netbeans yesterday (on master, with latest commit 39281fb993e671ce17df0ef6b6b201be40a687c9), I can send you more information on what I do when I'm home if you want.

[2021-09-22 14:36] JonathSpirit commented on #66
I test with freerouting-SNAPSHOT-2021-09-22_13-16-03.jar and there is no issue.

Here is the build output from NetBeans :
![image](https://user-images.githubusercontent.com/48102745/134363377-7fd7f23f-589b-42af-a3ed-c7c95e7cb15a.png)

And here is the about page (using jdk-11.0.10) :

Product Version: Apache NetBeans IDE 12.0
Java: 11.0.10; Java HotSpot(TM) 64-Bit Server VM 11.0.10+8-LTS-162
Runtim

[2021-09-22 17:22] pierremolinaro commented on #63
Yes, Xcode only runs on OSX.

Unfortunately, Apple does not support the installation of OSX on a machine other than a Mac, and, worse, does everything possible to make it very difficult, if not impossible. Installing OSX on a PC is a hack, nothing ensures stability or durability

The simplest solution is for someone with a Mac to build the distribution.

If you want, I can try to build a Python sc

[2021-09-22 20:25] andrasfuchs commented on #63
I don't know if it is more difficult, but could you try to change our existing [create-distribution-macos.sh](https://github.com/freerouting/freerouting/blob/master/distribution/create-distribution-macos.sh)?

There is a good chance that if you could make that work then I could integrate it into our build actions on GitHub.

[2021-09-23 10:15] pierremolinaro commented on #63
I will first begin to try to adapt my python script. I think Python is very much simpler for all text manipulations. For example, how in Shell script extract the Developer ID from the answer of security find-identity -v -p codesigning ?

A Python script can be called as a Shell script.

Pierre

[2021-09-25 16:35] andrasfuchs commented on #63
Regarding to the Developer ID: GitHub is able to store secrets in a way that they will be pasted into the build process. Practically this means that the script should expect the Developer ID as a parameter.

A shell script would be better just because we already have one that runs on GitHub, but it's very likely that a Python script is okay as well. Your solution sounds great, thank you, could you

[2021-09-25 18:31] pierremolinaro commented on #63
The Developer ID it self is not a secret. You can find with codesign utility the developer ID used for signing an application. But, if you do not own the developper ID, you can do nothing with it. Trying to sign an application with it is rejected.

Of course, you can freely use my script if you find it useful. You can share it, distribute it, as you want.

Yes, having a Developer ID is free. I hav

[2021-09-26 15:15] andrasfuchs commented on #63
I see, ok, thank you for the explanation!

Could you make your script available for me?

[2021-09-27 09:44] Tomaaso opened #67 "Round pads transformed in octogonal pins that cause 90° tracks"
To make our work easier, please provide as many details as you can:
* [X] What version of freerouting are you using?
   https://github.com/freerouting/freerouting/releases/tag/v1.4.4
* [X] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
   Linux Ubuntu 20.04.2 LTS 64-bit
* [X] What type of file are you working with? Can you attach the actual (DSN) file?
  I work with Kica

[2021-09-27 09:53] andrasfuchs commented on #67
Hi Thomas,

Thanks for the report! I can't get into this issue in the next 3 weeks, but I'll look into it after I'm back.

Until then, could you try [our latest snapshot release](https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT) if that makes any difference?

Also, if you or anyone else have other DSN files that demonstrate this problem, please share it here. The more samples we ha

[2021-09-27 10:05] Tomaaso commented on #67
Hi @andrasfuchs,

Thanks for your answer. I tried with the snapshot release, issue still here. If thats help you, I joined all my dsn files of my project (3 cards).

[DSN files.zip](https://github.com/freerouting/freerouting/files/7235328/DSN.files.zip)

[2021-09-27 10:16] lynchaj commented on #67
Hi,
Yes, I've noticed this phenomenon as well. In KiCAD the pad looks like a circular pad but in FreeRouting its an octagon. This impacts routing because sometimes it places tracks from pins between pins so other tracks cannot flow between. Certainly not a show stopper but not what I hoped for or intended. Where did come from? Is it inherent in the KiCAD footprints library? It is present in both 1

[2021-09-27 15:09] pierremolinaro commented on #63
Yes, of course, you can freely use the script I have sent.

I can also send you a DMG built with my script, for checking the application signature is ok.

Pierre

[2021-09-27 17:01] andrasfuchs commented on #63
Hi Pierre,

I don't think I got it, probably because GitHub strips e-mail attachments, as far as I know.
Could you copy the whole script into your reply's text?

Thanks!

[2021-09-27 17:33] pierremolinaro commented on #63
Ah, ok, I understand. Sorry, I was thinking you have it. Otherwise, if you have an email address outside Github, I can send it in attached file.

#! /usr/bin/env python
# -*- coding: UTF-8 -*-

#------------------------------------------------------------------------------
# https://developer.apple.com/library/archive/documentation/Security/Conceptual/CodeSigningGuide/Procedures/Procedures.html
#-

[2021-09-30 11:29] tinyboxxx opened #68 "ARM64 binary support"
Hello, first of all thanks for maintaining such a good software. The results presented by the software help me save a lot of effort.

I have been using this software for a month or two now, but in the last few days I switched from a desktop with a 3700x to a MacBook Air with an m1 chip (16G RAM).
From my experience I think the speed of this software has been greatly reduced.

I hope to be using th

[2021-09-30 11:37] lynchaj commented on #68
Hi
Try downloading the OpenJRE and running the FreeRouting JAR file. I am using Win32 (non-supported platform) and it worked for me. I think difference between using the JAR and a platform specific versions is just packaging -- its the same basic Java software FreeRouting has always been. Any way, using the JAR directly with the OpenJRE works fine for me and maybe you too

Good luck, Thanks, Andre

[2021-09-30 12:08] tinyboxxx commented on #68
Hi, thank you for your quick reply.

I found the right version of JRE here:
https://www.azul.com/downloads/?version=java-17-lts&os=macos&architecture=arm-64-bit&package=jre

I didn't find the jar file in the release, but I did find it in the Mac version release.
![image](https://user-images.githubusercontent.com/13427224/135451922-84ef4059-a45d-453a-946a-da62062867db.png)

The jar file currently w

[2021-10-13 23:11] andrasfuchs commented on #68
We use this Java JDK at the moment: https://adoptium.net/releases.html
According to their website, M1 could be supported only if we moved from JDK 11 to JDK 17.

My understanding is that freerouting still can be run on M1 processors as it is, so this issue has a low priority for now.

If you need more speed, you could try our snapshot JAR release, that has multi-threaded route optimization ;)
http

[2021-10-18 09:10] Alteregoxxx opened #69 "Clearance violations anomalies"
Hello, first of all thanks for maintaining such a great piece of software!
Some info you asked for:

* [ ] What version of freerouting are you using?
**1.4.4**
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
**Windows 10 Pro, version: 20H2, build: 19042.1288**
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
**File extension is .ds

[2021-10-18 10:04] lynchaj commented on #69
Hi
I have seen this problem before too. In my case what seems to trigger it is building a PCB in KiCAD, exporting the Specctra session (DSN) to FreeRouting, make the routes, export the Specctra (SES) back to KiCAD and then repeat the cycle. When the PCB loads in FreeRouting a second time it will be full of clearance violation errors which were not there before. Very strange behavior.

Thanks, Andr

[2021-10-18 11:58] Alteregoxxx commented on #69
Hello,
I don't mean to be rude, but it would be better if you could avoid quoting my entire post every time you comment, otherwise reading for other users will quickly become a nightmare...hope you' dont mind for this suggestion :-)

That said, it is sufficient to search with a text editor  (I use Notepad++) for the lines having the word "clearance" (without quotes, obviously) in it (they should b

[2021-11-01 09:02] savio-code opened #70 "Skipping Nets absent"
I cant find anyway to skip a particular net when routing.. The absent feature is really frustrating

[2021-11-01 22:33] Varat7v2 opened #71 "Error in importing specctra session in KiCAD PCBNEW (Msg: Board may be corrupted)"
I have followed the following steps:
1. Create the schematic in Eschema.
2. Annotated the components
3. Associated the components with their corresponding footprints.
4. Generated a netlist.
5. Opened the netlist in PCBNEW and then exported as Specctra DSN format
6. Opened the DSN file in FREEROUTING
7. Ran AUTOROUTER (successfully got the routing traces as expected)
8. Exported auto-routed design

[2021-11-02 00:17] cmburg commented on #71
I had this message once after I canceled the optimisation by left klick and then killing the terminal I was running freerouting off of.

You aren't saying anything about layout. Maybe you need to specify a frame on the "cuts" layer?!

[2021-11-02 00:30] Varat7v2 commented on #71
@cmburg Thank you for your reply. I even tried with the `edge-cut` layer. But I got the same error. However, I tried with lower version of `Freerouting` i.e., 1.4.4, and it worked. I think there is some problem on the upgraded version.

[2021-11-02 00:31] #71 closed

[2021-11-02 00:54] noblepepper commented on #71
I can confirm this behavior I am getting an empty .ses file using Kicad 5.99 or 5.0.2 and Freerouting 1.4.5 executable downloaded here or master branch compiled locally.

If I save the file in freerouting native format and reopen it and export the ses file then it works fine.

/Hacking/freerouting/build/libs$ java -jar freerouting-executable.jar
2021-11-01 19:35:30.653 [main] INFO  Freerouting v1.

[2021-11-02 10:23] noblepepper opened #72 "Freerouting produces empty spectra session file"
* What version of freerouting are you using? Problem exists in 1.4.4 1.4.5 and master if compiled with gradle, precompiled version 1.4.4 works, 1.4.5 does not.
* On what platform did you run it? Linux Debian 10
* Can you attach the actual (DSN) file? See below
* Please list the detailed steps to reproduce the problem : open dsn from kicad, run autorouter, export spectra session file
* What would y

[2021-11-06 18:38] WasdeAsde opened #73 "New multithreading causes softlock"
* [v1.4.5] What version of freerouting are you using?
* [Windows 64bit] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
   Intel i5-6200U CPU @ 2.30GHz, 2 cores, 4 threads
   16gb DDR4
* [DSN, sadly no] What type of file are you working with? Can you attach the actual (DSN) file?
* [none] Did you use any command line arguments?
* [no] Can you post a screenshot of the prob

[2021-11-06 20:54] ahtih commented on #72
Same here, I can reproduce that with another simple PCB.

This seems to be **caused by commit a4ec13293** from 20-Sep-2021, which produces "ArithmeticException: / by zero" in BatchAutorouterThread.java:146. This is dividing by via_count_before and trace_length_before; if either of these is 0, an error occurs.

[2021-11-06 23:40] Gibbaaay76 opened #74 "Unable to view any files within my Desktop, Documents, or Downloads Directory on MacOS (Permissions Issue?)"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
Using v1.4.5
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
MacOS 64-bit
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
* [ ] Did you use any comman

[2021-11-14 01:34] tinyboxxx commented on #74
same here, I have to move file to my user folder

[2021-11-14 19:07] andrasfuchs commented on #72
Fixed by @VicSanRoPe, I just merged the pull request. Thank you!

[2021-11-16 14:30] casiobearing opened #76 "Saving Session File Failed after routing."
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using? 1.4.5
* [ ]  On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? Win 10 x64, JDK 11.0.13
* [ ] it was a fresh install of Java as freeroute didn't run with Java 8.
* [ ] What type of file are you w

[2021-11-16 14:48] andrasfuchs commented on #76
Thank you for your bug report!

This is supposedly fixed in our snapshot: https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT

Could you try it and give us a feedback here if it worked?

[2021-11-16 15:50] casiobearing commented on #76
Hi, Went for a walk and came back have another look. I saw the label "Avoid division by cero (fixes issue #72)" against src\main in the source tree window and seeing my log file contains divide zero exceptions as well I have confirmed my issue is the same problem.... i.e. bug #72 is still active (by following the workaround of saving in native format, closing the app, reopening, loading and then e

[2021-11-16 15:56] andrasfuchs commented on #76
Thank you @casiobearing, I appreciate it. I'll take a look as soon as I got some time.

[2021-11-24 21:53] StormTrooper commented on #71
I am experiencing the same issue. Using KiCAD 6.0 RC1 and a empty .ses file is saved.
Going back to 1.4.4 fixes the issue.

[2021-11-25 18:50] andrasfuchs commented on #76
You are right, we needed to include this fix in our latest release. I now got the time to create the new v1.4.5.1 hotfix release which includes that update from the snapshots.

[2021-11-25 18:50] #76 closed

[2021-11-25 18:51] andrasfuchs commented on #72
The fix is now included in our latest release, v1.4.5.1.

[2021-11-25 18:51] #72 closed

[2021-11-30 07:41] Zhouxinbang opened #77 "What is the based routing algorithm used in this software?"
I would like to ask, what kind of algorithm is the underlying path planning algorithm used by this software, thank you!

[2021-11-30 16:42] andrasfuchs commented on #77
See the answer here: #37

[2021-11-30 16:42] #77 closed

[2021-11-30 18:47] andrasfuchs commented on #71
Could you please confirm that it is working as expected with the current v1.4.5.1?

[2021-11-30 20:11] StormTrooper commented on #71
I've tested with 1.4.5.1 and KiCad Version: 6.0.0-rc1-unknown-84cfa052a1~144~ubuntu20.04.1 and can confirm the issue is fixed for me.

[2021-11-30 20:50] andrasfuchs commented on #71
Thank you @StormTrooper!

[2021-12-13 10:43] andrasfuchs commented on #69
I think we had same issue here: #79.

As described there, a workaround with the `-mt 1` seems to be working, could you confirm?

[2021-12-13 14:14] miho commented on #73
The Java runtimes often uses `#threads= #cores - 1` as default thread pool size if it detects multiple cores.

Note to developers: you can check this via

[code]

For CPU-bound tasks I would use the same conservative formula.

P.S.: sorry for my long absence. But from what I can see, freerouting is doing well.

[2021-12-27 19:24] janding commented on #67
I attached a smaller DSN with two resistors to illustrate this issue: [octagon_pads.dsn.txt](https://github.com/freerouting/freerouting/files/7781364/octagon_pads.dsn.txt)

Note that the right pads are octagons and the left pads are circles. The autorouter creates a trace that comes out of the right pads horizontally instead of diagonally like on the left pads.

![Traces from the pads on the right

[2021-12-27 20:15] lynchaj commented on #67
Hi
I see this phenomenon is most of my PCBs. I suspect is seriously degrades trace routing performance of DIP and PLCC packages because it unnecessarily blocks pathways between pins. Would love to see this fixed but I suspect it is a KiCAD problem not FreeRouting

Thanks, Andrew Lynch
     On Monday, December 27, 2021, 02:24:16 PM EST, Jan Ding ***@***.***> wrote:

I attached a smaller DSN with tw

[2021-12-27 23:34] lynchaj commented on #67
Hi
I can provide some samples without using attachments.

Please go to the nhyodyne repo and pick nearly any board with DIP chips (all of them) and you'll see it wedged in between DIP pins.

I don't know what is causing this issue but it is seriously degrading PCB trace route quality in my opinion.

https://github.com/lynchaj/nhyodyne

Thanks, Andrew Lynch
     On Monday, December 27, 2021, 03:14:

[2021-12-31 06:56] ReportX opened #82 "Missing help and spectra session file automaticly saved on exit command line options"
Hello, thank you for keeping alive this really useful piece of software.

I'm just switching from freerouting-1.3.1 (running on Ubuntu 20.04) and I miss the command line help (-h) and -s command line option. I mainly running freerouting from a plugin installed in a CAD application, the command line set for this plugin is:

java -jar /path/freerouting-1.4.5.1.jar -de /path/freerouting.dsn -s

as th

[2021-12-31 07:36] andrasfuchs commented on #82
Hello @ReportX, thank you for your report!

Do you know which CAD plugin is used?

The automatic spectra file saving should work with the `-do` parameter like this:
`java -jar /path/freerouting-1.4.5.1.jar -de /path/freerouting.dsn -do /path/freerouting.ses`

Could you confirm that this works for you?

Do you have any contact details to the authors of the CAD plugin so that I can contact them to u

[2021-12-31 19:30] ReportX commented on #82
Hello @andrasfuchs, thank you for your quick reply.

The plugin is kicad_freerouting-plugin and I think I downloaded it from https://github.com/random-builder/kicad_freerouting-plugin.git

Hope it helps to contact the author.

I have just modified the plugin in order to run the command with the -do parameter and yes, it works but I've noticed some changes in the previous behaviour. First, freerout

[2022-01-02 04:48] dComposer commented on #63
I'm getting this same exact issue. I'm on Monterey so maybe that's what's causing it?

[2022-01-04 12:53] andrasfuchs commented on #82
I have just created [a new issue](https://github.com/random-builder/kicad_freerouting-plugin/issues/11) in the repo of the plugin to include the `-do` parameter.

If you already have your modified script, would you consider creating a pull request there with your modifications? It would be great to help others as you said. ;)

[2022-01-04 13:02] andrasfuchs commented on #63
I don't know, but after looking it up [again](https://discussions.apple.com/thread/253301644), my best guess is still that I would need a Apple developer license to fix this.

[2022-01-08 01:46] rhinodavid commented on #74
It is indeed a permissions issue.

There's a fix, but it exposes disk access for all JARs you run, so up to you to decide if it's worth it.

MacOS ships with an app called "JavaLauncher". You need to add this to the "Full Disk Access" panel under System Preferences > Security & Privacy > "Privacy Tab".

1. Launch the Terminal App
2. At the prompt, run ` open /System/Library/CoreServices`
3. In the

[2022-01-10 07:36] ReportX commented on #82
I wish but I know a little about github, I'm just currently using it as if it was an Internet board. Moreover, my production server is in an air-gap network so I think it would be not easy for me to create a proper pull request but anyway I may share the modifications in an attached file here.

[freerouting_plugin_mod.zip](https://github.com/freerouting/freerouting/files/7837319/freerouting_plugin

[2022-01-10 09:33] andrasfuchs commented on #82
Thank you! I will create a pull request then in the repo of the plugin, mentioning you as the contributor.

[2022-01-17 17:38] techn0de opened #83 "Question about log4j version vulnerability"
All,

Hey, I am a sys admin and we whitelist our apps and we have an engineer that has always used your application and would like me to create a rule for this so he can continue to use it in our environment but I am hesitant due to the version of log4j this is using. From my understanding, the current version apache is asking people to use is 2.17.1. Will you be upgrading to a newer version or do

[2022-01-17 21:52] andrasfuchs commented on #83
Thank you @techn0de for letting me know about this, I didn't know this vulnerability.
I planned to make a new release in a few weeks, so I'll look into this later this week.

If you need it sooner, you can always fork this repo, make the changes you need and compile a new executable.

[2022-01-17 22:03] techn0de commented on #83
Andras,

Thank you for your quick reply, we really appreciate it! I am not in any hurry and am happy to wait until you have time. Also, I am not a developer, just a sys admin who specializes in security and can write some scripts. I have never complied any code before lol. Thanks again and I wish you the best! Our engineers love this application! You all did a great job.

Regards,

Adam Comstock
_

[2022-01-18 07:56] andrasfuchs commented on #83
Hey Adam, thank you for the kind words!

I updated the log4j package, so you can test it with the [snapshot release](https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT), if you like.

Alternatively if you preferred a more stable version, please wait until I test it myself and make an official release in a few weeks.

[2022-01-18 07:56] #83 closed

[2022-01-18 09:38] #82 closed

[2022-01-18 09:53] #73 closed

[2022-01-23 16:06] andrasfuchs commented on #33
@CNLiuGuang Chinese translation just got merged, so it will be available in a few weeks with freerouting version 1.5.

[2022-01-23 16:06] #33 closed

[2022-01-24 03:39] taotieren opened #93 "FreeRouting does not handle CJK character paths: llegal character '涓'"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ x ] What version of freerouting are you using?
- master
* [ x ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
- Windows 10 21H2 x64
* [ x ] What type of file are you working with? Can you attach the actual (DSN) file?
- [interf_u.zip](

[2022-01-25 10:46] andrasfuchs commented on #93
I might be wrong, but as far as I can tell only the first line of the .dsn file contains a few Chinese characters, so if you change the `C:\Users\YI\Downloads\中文测试目录\interf_u.dsn` value to just `interf_u.dsn` it should work.

It is still a bug though, so I leave this issue open.

[2022-01-29 18:02] chf-6309 opened #94 "Latest FreeRouting 1.5.0 (installed via .msi) doesn't launch on Windows 11"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ X ] What version of freerouting are you using?                                                      1.5.0
* [ X ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?    Windows 11 (64bits, what else?)
* [ X ] What type of file are you workin

[2022-01-30 12:51] andrasfuchs commented on #94
I can confirm that this is an issue on Windows 11. Thank you @chf-6309 for reporting it!

Anyone who has the same problem, please try to run [freerouting-v1.5.0.jar](https://github.com/freerouting/freerouting/releases/download/v1.5.0/freerouting-1.5.0.jar) using an installed Java runtime for the time being.
You can find more information about the usage [here](https://github.com/freerouting/freerou

[2022-01-30 22:08] chf-6309 commented on #94
Thank you Andras for your reply and confirmation!

Some more test: I finally uninstall the 1.5.0 and reinstall the 1.4.5.1 .msi version => no issue when launching.
It seems that the latest Windows 11 upgrade/updates are not the issue.

Anyway the .jar file is just fine!

[2022-01-31 21:39] chf-6309 commented on #94
One more information: I tried to install the 1.5.0.msi version on Windows 10 on my work desktop: same error "JVM launch faill" :o(

Both installation, on french language Win11 and Win10: is the language the issue?

Reinstalling the previous .msi is OK and running.

[2022-02-01 09:56] andrasfuchs commented on #94
Thanks for the new info! I looked into it real quick, but I couldn't find the fix just yet.

I suspect that something goes wrong with the installer binary creation during one of the GitHub Actions, but I need to test it locally to get closer to the source of the problem. Unfortunately I couldn't find the Java log files either that could help us pin this one down, "JVM launch faill" is too general

[2022-02-01 16:45] deltaford commented on #94
Same issue on Windows 10 Pro Version 21H2 Swedish language

[2022-02-04 19:41] raymondbernard commented on #94
Yes I am having the same issue :(

[2022-02-08 11:48] f1gwr opened #96 "App version OSX: corrupted"
Hi,
Just downloaded freerouting.dmg 1.5.0, opening it under OSX Mojave 10.14.6, application says "freerouting is corrupted, should be sent to the trash". The Java counterpart .jar doesn't open either.

_Originally posted by @f1gwr in https://github.com/freerouting/freerouting/discussions/57#discussioncomment-2132679_

[2022-02-08 11:51] f1gwr commented on #96
![Capture d’écran 2022-02-08 à 12 50 38](https://user-images.githubusercontent.com/45897339/152981577-1647f4c8-5734-4f06-8881-cb48c6e6fabd.png)

[2022-02-08 12:10] andrasfuchs commented on #96
Thanks for the report. I think it's related to #63 and #65.

You mentioned that the .jar doesn't work either. Could you share your error message when you tried to run it?
That should still work, I think.

[2022-02-08 13:11] andrasfuchs commented on #63
Guys, can I ask your help with this issue?
I would need someone who has an active Apple developer license and who could sign the macOS installer using our script, and test the signed installer on macOS.

[2022-02-08 18:28] f1gwr commented on #96
Hi Andras,

Thanks for your answer. You might be right about the relation to message 63 and 65. But these were 4 and 5 months ago, and as it was a file corruption problem, I thought a few minutes recompiling and reposting could solve the problem meanwhile. Unless the problem is more serious?

As for the java version the message is enclosed.
![Capture d’écran 2022-02-08 à 18 53 22](https://user-i

[2022-02-14 11:44] lynchaj opened #99 "Autoroute Interrupted, 0 connections not found"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using? FreeRouter v1.4.5-SNAPSHOT (build date 2021-09-19) and 1.2.43
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? Windows 32 bit
* [ ] What type of file are you working with? Can you attach

[2022-02-20 10:15] pcfreak1201 opened #100 "Freeroute doesn't start on Linux 64bit"
Hi!
When I start the Linux binary, it prints out:
[code]

* What version of freerouting are you using? - freerouting-1.5.0-linux-x64 (also tried the freerouting-1.5.0.jar)
* On what platform did you run it? - Linux 64-bit (Linux Mint 20 Ulyana base: Ubuntu 20.04 focal)
* What type of file are you working with? - none
* Did you use any command line arguments? - No
* Can you post a screenshot of the

[2022-02-21 04:41] cor-mt opened #101 "NullPointerException when specifying vias"
With my first test to auto-route a double sided pcb exported from pcb-rnd I discovered it's only trying routes on the same layer of the pcb that will never work because there is smd components on both sides. So I took the .rules file in the tests folder and adapted it to look kind-of workable for my situation. But it always fail with a NullPointerException and afterwards nothing happens.

Versions

[2022-02-27 13:12] lynchaj commented on #99
Seems to have gone away with update to latest .jar file.  Possibly was fixed incidentally with other updates?

Will reopen if problem reoccurs.  Seems to be a phantom bug that comes and goes although I haven't seen it recently

[2022-02-27 13:12] #99 closed

[2022-02-27 13:24] lynchaj opened #102 "FreeRouting command line argument for Win32 jar file doesn't work -oit 0"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using? 1.5.0
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? Win32, using jar file to OpenJDK
* [ ] What type of file are you working with? Can you attach the actual (DSN) file? DSN file
* [ ]

[2022-02-27 18:54] humannum14916 opened #103 "Route optimization creates clearance violations"
I have a board made in KiCad that I am routing using Freerouting. While the actual routing works, the optimization creates clearance violations.

Freerouting version: v1.4.5.1 (build-date 2021-11-25)
Platform: Linux 64-bit
Files: [files.zip](https://github.com/freerouting/freerouting/files/8149230/files.zip)
  Unrouted board - Board-Unrouted.dsn
  Unoptimized board - Board-Routed.dsn
  After optim

[2022-02-28 15:57] timo1235 commented on #94
In my case it seems to be a problem with the java version:

[code]

[2022-03-01 12:43] lynchaj commented on #52
Hi
I have noticed on my large and complex PCBs that there is an appreciable difference between FreeRouting 1.5.0 and 1.2.43 Extra.  I am not sure what the difference is exactly but they behave differently or at least appear to be different.

Since 1.5.0 quits at 0.1% it ends quite prematurely so it is not useful for me with large boards.  1.2.43 Extra will keep going much longer and squeeze out vi

[2022-03-01 19:20] koendv commented on #68
FYI. I am running freerouting on a raspberry pi4, running raspberry os, an aarch64 debian.
[code]

Build notes:

Download adoptium Temurin 11, linux aarch64, JDK.

[code]

I've attached a tar of the jar files in build/libs.
[freerouting.tar.gz](https://github.com/freerouting/freerouting/files/8164181/freerouting.tar.gz)

[2022-03-10 17:47] bradac1 opened #106 "my .dsn file is stuck on loading design"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [x] What version of freerouting are you using?
* [x] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
* [x] What type of file are you working with? Can you attach the actual (DSN) file?
* [ ] Did you use any command line arguments?
* [x] Ca

[2022-03-10 17:50] bradac1 commented on #106
Im using th 64-bit version. I just downloaded it so its the latest version.
![Screenshot 2022-03-10 184959](https://user-images.githubusercontent.com/101355325/157724439-b0ca3c48-c0f6-4628-84d9-6d19b6b33040.png)

[2022-03-16 23:31] szundi commented on #70
I would second this. I am using the Inner 1 layer in a 4 layer stack as a ground layer. I connect several component's ground pins to this ground layer with vias. How can I tell Freerouting not to bother connecting these islands of ground pins together wasting precious PCB wires/area and adding complexity? These are already routed via the ground layer.

I think this use case is pretty common with l

[2022-03-18 22:56] bombela commented on #94
Install the latest openjdk instead of the java.com version. That's what solved it for me.

[2022-03-19 16:51] githubaf opened #107 "freerouting does not find obvious rutes?"
I am using "INFO  Freerouting v1.5.0 (build-date: 2022-01-27)" under ubuntu 20.04.3 LTS (running in Virtualbox)
In Windows Kicad 5.1.5-3 Windows7 64  I created a pcb and exported a dsn file. In Linux I run freerouting "java -jar freerouting-1.5.0.jar"
I select the dsn file to open. Then in Parameter/Autoroute I deselect F.Cu to get a single layer PCB.
Then Autoroute.
After 2...4 Minutes routing is

[2022-03-25 14:54] erichVK5 commented on #100
I am successfully using the pre built .jar on lubuntu 20.04 with

$ java -version
openjdk version "11.0.11" 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.20.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.20.04, mixed mode)

You could try building from source, which I have also managed successfully on the same system

git clone
cd freerouting
bash gradle ass

[2022-03-26 13:49] erichVK5 commented on #93
I have made a pull request for modifications to SpecctraFileScanner.java that substitute 'X' for illegal characters found while parsing in an attempt to allow DSN parsing to continue successfully, and logs a warning while doing so.

[2022-03-27 11:27] rezaneam opened #109 "msi installer is missing in v1.5"
If I am not mistaking MSI installer used to be available for v1.5 which is no longer available.

[2022-03-28 05:08] erichVK5 commented on #107
Is there a reason you are constraining the autorouting to one layer?

Some of the traces generated are quite tortuous with single layer routing attempts. Single layer routing is not always possible topologically.

The board routes quite well as a two layer board.

You may wish to try a simpler test case to see if there is an issue with KiCad exporting a partially autorouted layout, thereby ruling

[2022-03-28 09:01] githubaf commented on #107
Yes, the producer with the best price doesn't do vias and single side is cheaper than double sided.

That is absolutely clear. My point was:
- the first dsn-file I showd can be roueted completely in freeroute.
- The second one only adds two connectors. If I take the result from the first routing and add the two connectors manually, I can very easily add the additional traces manually. (That is a h

[2022-04-01 12:20] erichVK5 commented on #42
I have now merged

1) recent multithreading enhancements and
2) early postroute optimisation cessation with incremental improvement below a set threshold

into freerouting-cli

[2022-04-05 08:59] andrasfuchs commented on #106
Could you attach the DNS file you tried to load?

Do you have the log file by any chance?

[2022-04-05 09:04] andrasfuchs commented on #107
I haven't tested it yet, but I think you are right @githubaf ,this should not be a problem for freerouting and it's very likely a bug. Thank you for reporting and for the sample files.

[2022-04-05 09:09] andrasfuchs commented on #109
The installers were removed because they were reported as invalid (see #94, #96, #100).

There must be something wrong with [our installer generation scripts](https://github.com/freerouting/freerouting/tree/master/distribution), but I don't have the capacity to fix them, so we are going to have only jar files in the releases until it's fixed.

Pull requests are welcome!

[2022-04-11 11:16] cmburg commented on #103
I do have clearance issues too but it only affects large holes (plastic pins for manual switches of a keyboard). I affects multiple versions (1.4.5, 1.4.5.1, 1.5) and occurs even when no optimisation is chosen.

`Error: Hole clearance violation (board setup constraints hole clearance 20 mils, actual *X* mils`  with *X* being 7.89/ 8.11/...

[code]

This even appears when no optimisation or single

[2022-04-22 10:37] BOND12 opened #110 "Non-ascii symbols in .dsn file"
Greetings. I found a problem when trying to use freerouting with a .dsn file that contains non-ascii characters in its content. When I try to use freerouting with such a file, I get the following error:
<a href="https://imgbb.com/"><img src="https://i.ibb.co/X2PfcXP/Loading-Error.png" alt="Loading-Error" border="0"></a>

log:
`2022-04-22 13:16:49.965 [main] INFO  Freerouting v1.5.0 (build-date: 20

[2022-04-22 10:55] BOND12 commented on #110
I saw [message from [erichVK5](https://github.com/erichVK5)](https://github.com/freerouting/freerouting/issues/93#issuecomment-1079698329) about the proposed solution to this problem. I strongly discourage doing this, because if there are 2 chains in a .dsn file with a name containing the same number of non-ascii characters of the same length, freerouting will probably consider this as one chain,

[2022-04-22 14:18] BOND12 commented on #110
As I expected, it does not work correctly if different names with the same number of characters are assigned to the same chain:
[](<a href="https://ibb.co/ykJ9vWh"><img src="https://i.ibb.co/VC81n2H/Screenshot-20220422-171433.png" alt="Screenshot-20220422-171433" border="0"></a>)

log:
`
2022-04-22 17:13:48.368 [main] INFO  Freerouting v1.5.1-SNAPSHOT (build-date: 2022-04-22)
2022-04-22 17:13:48.3

[2022-04-22 16:30] BOND12 commented on #110
[https://github.com/BOND12/freerouting/commit/3683ad3ec84d7bf983604c5362db6717f93a6269](https://github.com/BOND12/freerouting/commit/3683ad3ec84d7bf983604c5362db6717f93a6269l) - this commit had to fix this issue. Please, test it and comment.

[2022-04-22 16:37] andrasfuchs commented on #110
Thank you!
Please create a pull request with your two commits. I (and others) can only test and comment that way.

[2022-04-22 17:26] erichVK5 commented on #110
The specctra language reference says "The design file is a text file."

It was on that basis I treated non ASCII in the path at the top of the DSN file as something of an exception, and something that was not going to occur in the rest of the design file.

There is also an ASCII special character descriptor in the specctra standard, which implies only ASCII is assumed.

If some layout tools will b

[2022-04-22 17:31] BOND12 commented on #110
Files with non-ASCII characters can be obtained not only from kicad. They are also generated by P CAD for example (which is used at my work). So it won't help completely. Now I am trying to modify freerouting so that when uploading a file.dsn he checked all the characters and if they are > 127 then substituted the string illegalCharactersFound in their place. I think it will work. Transliteration

[2022-04-22 17:35] erichVK5 commented on #110
maybe substituting the unicode for the offending non ASCII, i.e. something like "U+2160", would effect a fairly unique, and invertible, mapping?

[2022-04-22 17:42] BOND12 commented on #110
PCAD generates the dsn file is encoded in windows-1251, so this is also not a complete solution.

[2022-04-22 17:49] erichVK5 commented on #110
a standalone pre-processor utility may be the simplest option, which finds and replaces non ascii in the network net labels etc. The returned topology in the .ses file should be unaffected.

[2022-04-22 17:49] BOND12 commented on #110
[https://github.com/BOND12/freerouting/commit/f970a5fc1e11ff233f5728c26ab195840c9ad8d2](https://github.com/BOND12/freerouting/commit/f970a5fc1e11ff233f5728c26ab195840c9ad8d2)
I have +- works in this version. I made it so that I substituted the ilch + replacement number for the lines. If the same character comes across, then the string value that was used earlier is taken.

[2022-04-22 17:50] BOND12 commented on #110
This works, and successfully, but requires additional actions when used.

[2022-04-22 17:52] BOND12 commented on #110
What do you say about my modification at all?

[2022-04-22 17:56] erichVK5 commented on #110
You could still get collisions with a pair of nets something like

"NetilCh1"

and

"NetX"  where X is an illegal character

but it would be much less likely than with my solution

[2022-04-22 17:59] BOND12 commented on #110
Well, what I wrote converts the string "xzx", for example, to the string "ilCh0ilCh1IlCh0" if x and z are invalid characters. Here with your modification, such a problem really was, I tested it.

[2022-04-22 18:09] erichVK5 commented on #110
maybe the simplest thing is to more deliberately convert the entire offending module name, padstack name, pin-name, or net name, to an actual hash.

at what point is this better done outside of the autorouter application?

[2022-04-22 18:16] BOND12 commented on #110
I manipulated the dsn file after exporting it from CAD. If you use another program for this operation, then at this stage you should do it.

[2022-04-22 18:27] BOND12 commented on #110
I have created a merge request. If you don't mind my version of the solution to this problem, of course.

[2022-04-22 19:38] andrasfuchs commented on #110
Sorry for my lack of knowledge regarding this, but could you help me understand the depth of the problem?

I know that we have an old, poorly designed DSN reader logic, and I suppose that our SES writer is similar, so I'm not questioning if the problem you describe is legit. It is.

I have a few assumptions, could you help me confirm or correct them?
* (Unfortunately) we read DSN files as binary f

[2022-04-23 05:19] erichVK5 commented on #110
I thought about it a bit more.

The Specctra DSN spec is for ASCII.

The parser very reasonably assumes this and parses the ASCII text (not binary) DSN file char by char looking for tokens.

The simplest solution would be a pre-processor enabled at the command line, i.e. -na "non-ascii", and some code:

 parses the ASCII DSN line by line
 splits each line with whitespace
 checks each string for no

[2022-04-23 09:52] erichVK5 commented on #110
Here's some code that converts either of the two example DSN files provided by BOND12, turning contiguous non ASCII into a String.hashCode() ASCII segment

This works pretty well, as far as I can tell. If it were to be incorporated into freerouting, it may be possible to interpose it between the p_input_stream

in

app.freerouting.designforms.specctra.DsnFile

in

public static ReadResult read(jav

[2022-04-23 16:44] BOND12 commented on #110
I checked your program, everything works fine with it. Tracks are imported back into the kickad without errors. In general, your program gives a similar effect as mine, which I used to work with freerouting before (now I have built a similar functionality into freerouting).

In general, this technique will work in practice and works. But there will still be restrictions, for example, if non-ASCII

[2022-04-23 19:21] erichVK5 commented on #110
The freerouter DSN parser works 100% correctly for Specctra standards compliant DSN files.

Changing the existing, fit for purpose parser code to support non Specctra standards compliant DSN files would require quite a bit of work from developers with limited time.

Just because some EDA packages generate non Specctra standards compliant DSN files does not mean that significant resources should go

[2022-04-27 00:56] Xeraster commented on #100
I'm having this same problem. The compiled release won't run and I can't compile. I've tried changing my java environment variable to just about every java version and trying with each one. I can neither compile or run the release. All I ever get when trying to compile is this error
[code]

I'm using Ubuntu 22.04 and all my packages are up to date.

[2022-04-28 15:30] andrasfuchs commented on #100
There must be a mismatch somewhere with the Java versions. I looked into this today for hours, and there is hope: finally I could make a working Windows installer, and I think the problem is similar for Linux as well.

Don't get your hopes up just yet, I just wanted to drop by and let you guys know that it's not forgotten, I'll try to spare a few more hours to fix this in the near future.

[2022-04-29 16:01] andrasfuchs commented on #109
There are new snapshot packages available for testing [on the releases page](https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT).

Could you guys give a short feedback if it works for you?

[2022-04-29 16:01] andrasfuchs commented on #94
There are new snapshot packages available for testing [on the releases page](https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT).

Could you guys give a short feedback if it works for you?

[2022-04-29 16:01] andrasfuchs commented on #100
There are new snapshot packages available for testing [on the releases page](https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT).

Could you guys give a short feedback if it works for you?

[2022-04-29 16:02] andrasfuchs commented on #96
Unfortunately it's unlikely that it will solve our macOS-related issues, but there are new snapshot packages available for testing [on the releases page](https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT).

Could you guys give a short feedback if it works for you?

[2022-04-29 16:11] timo1235 commented on #94
Thanks @andrasfuchs.

I have installed the latest version: v1.5.1-SNAPSHOT and can start it without problems on win11.

[2022-04-29 22:57] f1gwr commented on #96
Hi Andreas,

Thank you for returning. I appreciate.

Unfortunately, when trying to launch your prerelease version freerouting-SNAPSHOT-20220429_154300-macos-x64.dmg <https://github.com/freerouting/freerouting/releases/download/SNAPSHOT/freerouting-SNAPSHOT-20220429_154300-macos-x64.dmg>, the message remains the same:

Just noticed a detail: in the info window the Mac tries to compute the app file

[2022-04-30 13:36] andrasfuchs commented on #96
Hi Christian, thank you for the feedback!

I'm sorry to hear that it still doesn't work. I can't see your screenshot here on GitHub, but I suppose that's the same as before. The issue with the size calculation is strange indeed.

I can't really go forward with this until we have someone who: 1, has a Mac and 2, is a member of the [Apple Developer Program](https://developer.apple.com/programs/), be

[2022-04-30 13:38] andrasfuchs commented on #94
Thank you @timo1235 for the feedback, that's great!

It looks like we will have a working ,msi for the next release then.

[2022-04-30 22:02] chf-6309 commented on #94
Hello Andras,

I did uninstall the previous (working) 1.4.5.1 and install the latest v1.5.1 Snapshot (build 30apr22).

My first test on an previous dsn file is successful! :o)
The application launch from the Windows 11 64 bits 21H2 without any problem, the dsn file load as in the jar file: the previous issue sema to be definitely solved? Thanks for that.

Notice that I did uninstall the "regular"

[2022-05-01 04:07] andrew64k commented on #109
It's better? I guess... It installed and starts (loading board file) but then exits with "Child process exited with code 1" when I load the file on the command line (short cut).

When run Freerouting directly it starts and I select the file but it says it's unable to read design file.

Design file is from Kicad 5.12. The older 1.4.5.1 does not cause these errors.

It looks like you have solved the

[2022-05-01 13:54] TiagoBruno commented on #100
Snapshot 20220430_230000 fixed the issue on Fedora 35

[2022-05-02 18:56] andrasfuchs commented on #94
Thank you @chf-6309 for the detailed feedback and your continuous support, I appreciate it!

[2022-05-02 19:06] andrasfuchs commented on #109
Hi @andrew64k thank you for the feedback. Yes, there is some work in progress on the DSN reader module, and despite my efforts I don't expect it to work properly on all inputs with the current snapshot release.

If you could send me here your problematic DSN file(s), that would be a great help. I need as much test data as possible in order to release a more robust version next time.

It's good tha

[2022-05-02 19:18] andrasfuchs commented on #100
Great, thank you @TiagoBruno, good to know!

[2022-05-02 19:20] #106 closed

[2022-05-12 00:37] andrew64k commented on #109
@andrasfuchs Great news! **freerouting-SNAPSHOT-20220511_234400-windows-x64.msi** works again for me!!!
It install on windows 7 (64 bit), runs, loads the DSN file (that loaded on the old version), and starts autorouting!

Thanks for spending the time to make it work again and improving freerouting.

Now for the bad news.... the autorouter now only got down to about 99 vias where the old version go

[2022-05-12 08:04] andrasfuchs commented on #109
@andrew64k Thank you for the kind words, I spent a few nights on this for sure :) I'm glad to hear that it works for you, we are getting closer to the next release.

About the via number: I'm still testing the different settings, but you can play around with the `-oit` parameter. `-oit 0.1` is the default, and that makes the route optimizer pretty quick, but the end result might not be optimized e

[2022-05-12 09:04] andrasfuchs commented on #110
Hey guys, I made a fix for the identifier with non-ASCII characters bug.
Could you download the latest snapshot release, and test it? I had only a limited number of files to try.
Thank you!

[2022-05-12 09:22] andrasfuchs commented on #102
Hey Andrew,

Thank you Andrew again for the fine suggestion, I appreciate it!

I made a few modifications to the `-oit` parameter, so now if you now start freerouting with `-oit 0` it should go indefinitely until you manually stop it. The default setting is now 0.25%, but I'm open to change it something more practical.

Could you make a few tests with different values, let's say between 0.1 and 0.

[2022-05-12 09:32] #68 closed

[2022-05-12 10:09] lynchaj commented on #109
Hi Andras
Would you please set the default -oit back to zero like the older versions were? Then if someone specifies a value it would use it. When I use the .jar file it doesn't pay attention to the -oit command line options so there is no way to set it. This means I am restarting FreeRouting many times to get it to fully optimize a PCB.

Alternatively, add a menu option to specify the oit value a

[2022-05-12 12:11] andrasfuchs commented on #107
@githubaf , I have just tested your files with the newest snapshot build.

The first file (freq_teiler_200kHz_kicad.dsn) with its .rules was completed in a few minutes with one unroutable connection.
The second file (freq_teiler_200kHz_kicad_bad.dsn) without the .rules completed fully as far as I can tell. If I applied the same rules to it, it also finished with one unroutable connection.

Could y

[2022-05-12 12:20] andrasfuchs commented on #70
Hey guys, sorry for getting back to you so late. I think I understand the problem, I'll look into it in the next few weeks.

Would it be acceptable solution for you if you had to pass the net/net class names manually as a command line argument?
It would be a quicker addition if you didn't need this option on the GUI.

As always pull-requests welcome, if you have the time to play around with the so

[2022-05-12 12:24] #5 closed

[2022-05-12 12:30] andrasfuchs commented on #101
@cor-mt Could you give me the DSN+.rules files to work with? We have a new version, but I can't tell if it fixes your problem.

You can also try it by downloading the snapshot build from here:
https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT

[2022-05-12 12:57] andrasfuchs commented on #34
I added a handler for this case, so now freerouting displays the following error message if the boundary definition in the DSN file is not as simple as expected.

`There are multiple shapes defined in the boundary section of the DSN file. This scenario is not currently supported. If you have more than one board outlines defined, try to merge them into one.`

[2022-05-12 12:59] #37 closed

[2022-05-12 13:00] #38 closed

[2022-05-12 13:01] #23 closed

[2022-05-13 07:42] szundi commented on #70
@andrasfuchs of course, I'll prepare a DSN file that I create on EasyEDA just for this.

I didn't even know there is command line interface :) If I start the program with these arguments, and it does not show up on the GUI, can I use the GUI? There are some settings I always click in before routing.

[2022-05-13 07:53] szundi commented on #70
[Autorouter_FQ101_PCB_2022-05-13.zip](https://github.com/freerouting/freerouting/files/8685167/Autorouter_FQ101_PCB_2022-05-13.zip)

Here it is. The layer I would like to skip is GND. There are vias next to the antenna holes that are connected by the GND copper area there (not visible in the DSN file)

[2022-05-13 09:44] andrasfuchs commented on #70
Great stuff @szundi, thank you! I can't promise I can get to it this week, but I'll drop you a line here as soon as I have something.

Just curious: you mentioned that you always click around on the GUI before routing. What are those clicks? Are there some settings that would be better saved globally and set them by default?

The settings set by the command line arguments should be reflected on th

[2022-05-13 09:56] andrasfuchs commented on #109
I'm hesitant to set `-oit` to `0` by default, because that would mean that freerouting would run indefinitely by default. This would prevent users to use it in automated scripting environments.

What do you mean that `-oit` is not set when you use it as a .jar? It definitely should work! What operating system are you using and what is your exact command line? I tested it on Windows and it works fo

[2022-05-13 16:54] andrew64k commented on #109
I agree that 0 is not a good choice as people will not understand why it never finishes. -oit 0.001 does take a little more time to run but seems to provide a good result. With the default of 0.1 the output just seems to be unfinished.

Adding the option to the GUI would be nice and user friendly as it is an important function. May be a slider or some buttons along with the actual number...quick(.

[2022-05-13 17:03] BOND12 commented on #110
My tests were successful.  At least I didn't notice any problems.

[2022-05-13 17:17] lynchaj commented on #109
Hi
FreeRouting will eventually finish with a setting of 0. It may take a while but for large and complicated boards with a lot of components it needs time to solve and optimize. As it is now it quits too soon and I cannot get the command line parameters to work. I am using Win10, 32-bit with the .jar file. I placed the -oit parameters in the shortcut and they seem to be ignored. I think the best s

[2022-05-13 17:35] szundi commented on #70
@andrasfuchs of course I can tell you:

When there is the design that the autorouter cannot finish with default parameters, but only 1-2 wires are left, i start tinkering with the via costs, ripup start costs and the preferred direction cost setting after I carefully (just visually) analyzed the end result.  Then I make notes of the settings what worked well for THAT project, and next time I set u

[2022-05-13 21:54] andrasfuchs commented on #110
That's good to hear, thank you @BOND12!

[2022-05-13 22:41] andrasfuchs commented on #109
Sounds good to me, thank you @andrew64k for the testing and feedback.

@lynchaj I used the following command line with success while using [the latest snapshot .jar](https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT):
`java -jar freerouting-SNAPSHOT-20220513_222400.jar -de Mars-64.dsn -do Mars-64.ses -oit 0`

(Please reply to the other, more related issue #102)

[2022-05-13 23:00] andrasfuchs commented on #70
I opened your file and check the net classes in the `Rules` / `Net Classes` menu.

![image](https://user-images.githubusercontent.com/910321/168398933-38687108-c2de-403f-8dd8-a602ff220257.png)

Would it make sense to add a new `none` dropdown item for all net classes into the `on layer` column that would indicate that all the pins in that net class should be ignored by the router?

[2022-05-14 06:43] szundi commented on #70
Hmm... I think yes, it would make perfect sense to have an "ignore" option here.

[2022-05-24 12:32] andrasfuchs commented on #70
@szundi @savio-code Could you guys give it a go?

[2022-05-27 04:47] szundi commented on #70
@andrasfuchs this is awesome, will test it soon on an other project too.

[2022-06-01 08:12] andrasfuchs commented on #70
Sorry for pushing this again, but I'd like to make a new release early next week, and this feature will be in it unless something is broken. I would need a quick confirmation from you guys that it is at least something along the lines you imagined.

Thank you!

[2022-06-01 20:55] tehKaiN opened #113 "Excessive GPU usage for window drawing"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* What version of freerouting are you using? **1.5**
* On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? **Windows x64**
* What type of file are you working with? Can you attach the actual (DSN) file? [Protein.zip](https://github.com/freerouti

[2022-06-02 13:01] andrasfuchs commented on #113
Thank you for reporting!
You are right, the routing and the GUI updates should be running on different threads and the number of updates to the GUI should be capped.

[2022-06-05 22:36] savio-code commented on #70
Awesome!! .. ill test this once the the fix is released

[2022-06-06 12:08] #100 closed

[2022-06-06 12:08] #102 closed

[2022-06-06 12:08] #107 closed

[2022-06-06 12:08] #109 closed

[2022-06-06 12:08] #110 closed

[2022-06-06 12:08] #94 closed

[2022-06-06 12:09] #52 closed

[2022-06-06 12:10] #34 closed

[2022-06-06 13:21] #32 closed

[2022-06-06 13:22] andrasfuchs opened #114 "Collection of MacOS-related issues"
MacOS is no longer supported, so this issue is the tracker of macOS related issues for future support.

Freerouting still works on macOS by using the .jar release, but it needs a Java 17 runtime to be installed.

If someone who 1, has a Mac and 2, is a member of the [Apple Developer Program](https://developer.apple.com/programs/) has the time to work on the following issues, let me know.

Known is

[2022-06-06 13:23] #9 closed

[2022-06-06 13:23] #31 closed

[2022-06-06 13:23] #63 closed

[2022-06-06 13:23] #96 closed

[2022-06-06 13:23] #16 closed

[2022-06-06 17:33] szundi commented on #70
Hello, sorry but having a small baby does not help, I'll do this testing once I have an hour to do it!

[2022-06-07 00:43] leoheck opened #116 "There are some unreadable fields"
I am experimenting with this Freerouting 1.6.0 on Ubuntu 2022.04.

There are some unreadable fields in the GUI of both screens.
Maybe it is missing the min size parameter or something similar.

Here is a screenshot showing an unreadable item in the first window. And also 2 itens in the toolbar in the second window.

![image](https://user-images.githubusercontent.com/1277920/172271879-60583fa0-d256

[2022-06-07 00:49] leoheck opened #117 "Some issues building it on Ubuntu 22.04."
Have you tried to build it on Ubuntu 22.04 already?
I installed `openjdk-17-jre`

![image](https://user-images.githubusercontent.com/1277920/172272343-4fbaefb5-0484-4044-9f62-56ad6c1d8c23.png)

Please, if you need more info I am glad to share, but the reports with special flags are pretty big to put here I guess...

Here a plaintext
[code]

[2022-06-07 12:49] andrasfuchs commented on #117
I made a successful compilation on GitHub using `ubuntu-latest` which is Ubuntu 20.04 according [to the documentation](https://github.com/actions/virtual-environments).

![image](https://user-images.githubusercontent.com/910321/172381852-6c2aea84-92fa-44db-ab74-698d61c48592.png)

Could you dig a little deeper and get a more detailed error message from the javadoc task? I'm not sure what could caus

[2022-06-07 12:54] andrasfuchs commented on #70
No worries, and congratulations! :)

It's already in the latest release, so please report me back if something is wrong with it and I'll try to fix it for the next release (in ~6 months).

[2022-06-07 13:23] szundi commented on #70
Hello, made some time because I just ran into some prepared file from the past. It works! It was only one test obviously, much more complex than what I uploaded previously. Thanks! 🚀

[2022-06-07 13:29] andrasfuchs commented on #70
That's great to hear! :+1:

[2022-06-07 13:37] cdhigh opened #118 "freerouting 1.6 can't load any dsn file from Kicad on Windows 7 64bit"
Freerouting v1.6 (msi installer and jar package) can't load any dsn file from Kicad on Windows 7 64bit.

Both v1.5 and v1.4.4 are working great.

First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
tested with freerouting 1.6 msi and jar, the same problem

* [ ] On what

[2022-06-07 14:06] andrasfuchs commented on #118
It looks like there is a missing Chinese translation for one of the strings. I'll take a look, hopefully this is a quick fix.

Meanwhile you can try to run freerouting with the `-l en` command line argument, that should be ok.

[2022-06-07 14:59] andrasfuchs commented on #118
It's fixed now in [the v1.6.1 release](https://github.com/freerouting/freerouting/releases/tag/v1.6.1).

Thank you for your report @cdhigh!

[2022-06-07 14:59] #118 closed

[2022-06-07 15:05] szaffarano commented on #117
Hi @leoheck ,

`openjdk-17-jre` doesn't include `javac`, please try installing the whole `jdk`, i.e.:

[code]

It should work.

[2022-06-07 15:43] leoheck commented on #117
Thanks, guys. Indeed, the JDK was missing.

To summarize, on Ubuntu 2022.04, this is the only dependency `sudo apt-get install openjdk-17-jdk` since JRE is in this package I suppose.

I still got a warning but it is good to go.

[code]

[2022-06-08 09:29] cdhigh opened #121 "Can't switch the GUI language to english in v1.6.1"
In v1.6.1, the command line -l en is not working, "-l de" and "-l zh" is working, but "-l en" will continue display Chinese GUI in my machine. "-l EN" is the same.

This bug is simple, not nessesory to attach more meterials.

First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you

[2022-06-08 09:30] cdhigh commented on #121
Other minor issue, In about dialog, it continue shows 1.5.1

[2022-06-16 03:05] denjhang opened #122 "The latest version is not compatible with EasyEDA."
After automatic routing, double quotation marks appear in the network name inexplicably, which makes EasyEDA unrecognized.

[2022-06-16 20:00] andrasfuchs commented on #122
Thank you @denjhang for reporting this!

I will need to look into the DSN file specification to determine if this is a bug in freerouting or EasyEDA.

[2022-06-23 11:32] michiel2005 opened #123 "Components and traces are not bound to each other when exporting to easyEDA"
I'm using V1.6.1 of freerouting and V 6.5.5 of easyEDA
I'm running it on windows11 64 bit system x86
[dsn and ses file.zip](https://github.com/freerouting/freerouting/files/8966799/dsn.and.ses.file.zip)
No use of command line arguments, only gui use
![ledcube](https://user-images.githubusercontent.com/60014996/175288154-baf70ab8-58c0-440a-aaba-7019ccb9ec7b.png)
![Moved parts](https://user-images.g

[2022-06-24 06:56] denjhang commented on #122
[Autorouter_PCB_stm32-vt100-9341_2022-06-24.zip](https://github.com/freerouting/freerouting/files/8973865/Autorouter_PCB_stm32-vt100-9341_2022-06-24.zip)

[2022-06-24 06:59] denjhang commented on #123
You can try the oldest freerouting version (V1.4.4), maybe EasyEDA is compatible. But even the oldest version of freerouting still has some network errors, mainly because the wire name is inexplicably enclosed in double quotes.

[2022-06-24 09:01] michiel2005 commented on #123
Yes, after manually removing the quotation marks it binds with the components, I will report this to easyEDA.

[2022-06-25 07:44] denjhang commented on #123
I've detailed the problem to the EasyEDA developers, but they claim it's not their fault. Because using other auto-routing software, such as konekt electra 6.56 there is no problem.

[2022-06-25 13:59] andrasfuchs commented on #123
Thank you for your proactivity! Their reasoning still doesn't prove that
they follow the specification when they read our routed files.

I'll dive deeper into the official .ses file specification to double check
if we use the quotation marks correctly, and I will do some tests with
KiCad to see if it also has a problem with the most recent version of
freerouting.

Hopefully I can get back to you i

[2022-07-01 09:49] andrasfuchs commented on #123
Here is the Specctra file specification document: https://cdn.hackaday.io/files/1666717130852064/specctra.pdf

After reading it through I would say that we are doing it right in freerouting, and they should be able to parse our output file, but I also see the reason why someone would say otherwise. I would need your opinion, if you have the time to investigate.

So, both input .DSN and output .SES

[2022-07-01 09:51] andrasfuchs commented on #122
This issue is closely related to #123. Please follow the discussion there.

[2022-07-01 10:02] denjhang commented on #123
Through communication I found that EasyEDA developers seem to be lazy, they are not willing to actively fix bugs or make improvements.
Actually EasyEDA doesn't support any special symbols at all, and many other features are incomplete. My suggestion is that freerouting can provide a version specifically for EasyEDA users to be compatible

[2022-07-01 10:13] michiel2005 commented on #123
Hi, thanks for your investigation.

I think it is done right in freerouting, but since easyEDA is not willing to fix this I should say there comes a option: "wrap output nets in double quotes".
In easyEDA it is not possible to have a space in the net name, so spaces won't be causing problems.
It is however possible to use: ", ' and $ in net names in easyEDA, so if they parse that away it could mak

[2022-07-01 11:40] andrasfuchs commented on #123
Thanks for your feedback!

Alright, I will not expect the easyEDA developers to fix this then...

I would say that having an specific easyEDA option sounds like a workable solution, but I would prefer a way that is not EDA-specific, because that makes both the code and the user experience more complicated, and there is more chance to make an error.

What if I add an extra check before we save the

[2022-07-01 11:52] michiel2005 commented on #123
That would be a great solution, that will at least always work with easyEDA.

But doesn't that introduce the problem for other eda parsers that some nets does have double quotes and some does not?
I would say to first check if there is a space in any net, and than wrap all net's in double quotes or not all of it in double quotes.
Or was that what you meant?
I don't know if it is possible.
Maybe it

[2022-07-01 12:04] andrasfuchs commented on #123
I've seen .DSN files where the quotes/not quotes were mixed, but I'm not sure if it can cause problems in .SES files for the EDAs.

I like your idea of checking all names first, and decide to use or not use quotes consistently for all names. I'll look into it, when I get there.

I have one issue with the command line argument: what if the names have spaces or non-ASCII characters and the command l

[2022-07-04 19:54] andrasfuchs opened #126 "Merge KiCad plugin into this repo"
Although I created [a pull request a few months ago](https://github.com/random-builder/kicad_freerouting-plugin/pull/12), it looks like the owner of the [kicad_freerouting-plugin repo](https://github.com/random-builder/kicad_freerouting-plugin), @Andrei-Pozolotin doesn't maintain that project any more.

It would be great to have its source in our repo instead, so that we could keep it up-to-date a

[2022-07-05 09:14] andrasfuchs opened #127 "Proofreading and translations"
I created a [public project page for freerouting on Crowdin](https://freerouting.crowdin.com).

I invite everyone to join who can spare a few hours to make and proofread our translations.

Currently we have English, German and Simplified Chinese support, and I'm looking for people who can help with the following additional languages:
* Hindi
* Spanish
* French
* Arabic
* Bengali
* Russian
* Portug

[2022-07-05 11:13] andrasfuchs commented on #123
Hey guys, I created a fix that theoretically should work, but I can't test it properly, because I don't have easyEDA.
Could you give it a go?

The .jar and binaries are [in the SNAPSHOT section of the releases page](https://github.com/freerouting/freerouting/releases/tag/SNAPSHOT).

[2022-07-05 11:49] #101 closed

[2022-07-05 12:52] michiel2005 commented on #123
I can't do it now because I will be on holiday  but as soo  as it is possible I will test it.

[2022-07-05 13:01] denjhang commented on #123
I'll test it, I have time.
Actually I use Chinese, but I never use Chinese in net, I only use English or numbers.

[2022-07-05 13:27] denjhang commented on #123
https://s3.bmp.ovh/imgs/2022/07/05/6af95ddcdfa64993.jpeg

[2022-07-05 13:29] denjhang commented on #123
![](https://s3.bmp.ovh/imgs/2022/07/05/6af95ddcdfa64993.jpeg)

[2022-07-05 13:30] denjhang commented on #123
At present, it seems that even importing DSN files cannot work properly.

[2022-07-05 14:39] andrasfuchs commented on #69
@Alteregoxxx Sorry for the late reply, I'm browsing trough the older issues and having clearance violations is a reoccurring problem.

You are right, there is something strange happening with KiCad (even with the current version 6.0.5) and its DSN exporter.

If I open your project in the PCB Editor and I set the units to millimeters (in View/Units/Mils) and then I open the net classes dialog (in F

[2022-07-05 14:42] andrasfuchs commented on #123
Thank you @denjhang for the test!
Could you try the `-l en` command line argument? That should be fixed now.

I'm going to fix the exception on your screenshot in a few minutes.

[2022-07-06 05:09] denjhang commented on #123
DSN can now be imported normally.
I remember that the old version of freerouting had a circular cursor when auto-routing and optimizing vias. I thought that was very nice, but I don't know why it should be canceled?
It would be nice to have some visual cues when routing or optimizing vias. Without proper visual cues, I often think freerouting is stuck.

[2022-07-06 05:14] denjhang commented on #123
It still looks like there are annoying double quotes. This caused EasyEDA to think that the wiring was not done and there were a lot of DRC errors.
<img src = 'https://s3.bmp.ovh/imgs/2022/07/06/e05e6a5b1a011d92.jpeg' />

[2022-07-06 05:17] denjhang commented on #123
I never use double quotes when naming components or nets, just English characters (usually all caps) and numbers and spaces.

[2022-07-07 07:15] shenjicai commented on #26
Anyone who encounters this problem should double check the DRC to see if the rules are set incorrectly causing the software to fail to automatically wire.

[2022-07-07 15:25] denjhang commented on #123
Currently it appears that only some nets have double quotes. This goes back to the case with V1.4.4.

[2022-07-13 13:30] #123 closed

[2022-07-13 13:31] #121 closed

[2022-07-13 13:31] #113 closed

[2022-07-14 13:00] EasyEDA2021 commented on #122
hi
we fixed this issue, compatible with this change at EasyEDA v6.5.8

[2022-07-14 13:01] EasyEDA2021 commented on #123
hi
we fixed this issue, compatible with this change at EasyEDA v6.5.8 @andrasfuchs @denjhang @michiel2005 @miho
thank you

[2022-07-14 13:53] EasyEDA2021 opened #130 "New logo"
this is EasyEDA Pro auto route logo(icon), we would like to offer it to freerouting as logo, if freerouting needs

![eda-routing-auto](https://user-images.githubusercontent.com/29702100/178998131-b5b3743e-8f52-4e61-8922-cb4213ff752c.svg)

for example
![图片](https://user-images.githubusercontent.com/29702100/178998827-4bb1207d-fa66-4b5a-9991-f8dd59e0bf66.png)

[2022-07-14 13:55] EasyEDA2021 commented on #130
[eda-routing-auto.zip](https://github.com/freerouting/freerouting/files/9112400/eda-routing-auto.zip)

[2022-07-15 12:33] andrasfuchs commented on #123
That's great to hear, thank you @EasyEDA2021 for letting us know!

[2022-07-15 12:36] andrasfuchs commented on #130
Thank you, that's very kind of you!

I'll save the file for later use, hopefully we will have a volunteer UI/UX designer in the future :)

[2022-07-15 12:36] #130 closed

[2022-07-22 09:05] nikitalita commented on #126
I just updated my fork of the plugin to fix a lot of bugs and update to 1.6.2, you may find this useful: https://github.com/nikitalita/kicad_freerouting-plugin

[2022-07-27 08:44] andrasfuchs commented on #126
Excellent stuff, thank you @nikitalita! 👍

I'll refer to your repo from now on in [our integrations/KiCad folder](https://github.com/freerouting/freerouting/tree/master/integrations/KiCad).

[2022-07-27 09:17] nikitalita commented on #126
I, uh, don’t really intend to maintain it going forward, I just had to update it to fix things. Its probably not a good idea to link to me.

[2022-07-27 09:18] andrasfuchs commented on #126
Alright, no worries, I'll integrate it then into this repo.

[2022-07-27 10:28] #126 closed

[2022-08-01 07:22] #116 closed

[2022-08-01 07:23] #21 closed

[2022-08-01 07:24] #20 closed

[2022-08-01 07:25] #29 closed

[2022-08-01 09:45] andrasfuchs commented on #127
Thank you @JonathSpirit for helping the French translation effort!

[2022-08-09 12:26] fopinski opened #131 "all net classes have their layers set to the last selected layer"
* [ ] What version of freerouting are you using?
1.6.2
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
Windows
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
DSN file from Kicad, don't like to share
* [ ] Did you use any command line arguments?
No
* [ ] Can you post a screenshot of the problem?
![grafik](https://user-images.githu

[2022-08-10 01:09] joamatab opened #132 "Freerouting as Python package"
How could we add a python API for freerouting?

it would be great to interface with different tools such as gdsfactory [routers](https://gdsfactory.github.io/gdsfactory/routing.html)

@miho
@proppy

[2022-08-10 07:27] fopinski commented on #131
It works if the *.rules file is set to the desired configuration before I load the dsn file. It's ok when I click on autorouter right after the load of the dsn file until I stop and check the net class config in the gui. Then it's messed up again.

[2022-08-10 15:26] andrasfuchs commented on #132
If I understand it correctly you would prefer to have a Python API interface for freerouting, so I'm not sure it helps, but our KiCad integration is done by using Python. You can see the source [here](https://github.com/freerouting/freerouting/tree/master/integrations/KiCad).

[2022-08-10 17:53] joamatab commented on #132
nice,

ideally we upload it to [PyPi](https://pypi.org) so we can `pip install freerouting`

[2022-08-10 18:21] fopinski commented on #131
No need to hurry, I can use the workaround. Unfortunately I'm not able to fix it myself.

[2022-08-11 11:38] phil123456 commented on #9
just downloaded and installed layout-20220423-win-64bit-installer.msi

"class java.awt.geom.Rectangle2D$Double cannot be cast to class java.awt.Rectangle"

on Win10, used a dsn file created with Kicad

java version "17.0.2" 2022-01-18 LTS
Java(TM) SE Runtime Environment (build 17.0.2+8-LTS-86)
Java HotSpot(TM) 64-Bit Server VM (build 17.0.2+8-LTS-86, mixed mode, sharing)

[2022-08-11 11:48] phil123456 commented on #9
ok I used jre 1.8, it works

[2022-08-20 18:24] Jcwscience opened #133 "Differential pair routing"
Can freerouting route differential pairs? If not, is this being considered as something that might be added in the future?

[2022-08-23 14:13] ghost opened #134 "Option to delete all traces and restart from scratch"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [x] What version of freerouting are you using?
Latest 1.6.2 Java
* [x] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
Java
* [x] Did you use any command line arguments?
No, used GUI.
* [x] Is fixing this issue critical for your work?
No,

[2022-08-23 14:45] uranuspucksaxophone opened #135 "Option to disable logs for KiCAD integration plugin"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
The included with the plugin.
* [ ] Is fixing this issue critical for your work?
No.

[2022-08-24 09:27] andrasfuchs commented on #133
Could you explain in more detail what would that actually mean regarding the wiring?
Is my understanding correct that we should then have an option to pre-select connection-pairs, and their wires should follow each other across the board? Does the distance between the two wires matter? Are vias allowed? What if the desired distance is small or bigger then what they have at their beginning and endi

[2022-08-25 07:34] mayidu opened #136 "How to get via location?"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
* [ ] 1.6.2
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
* [ ] Windows
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
* [ ] DSN
* [ ] Did you use

[2022-08-26 11:36] RolandWa opened #137 "Pleas create addon plugin"
Hi All,

Nice to work on the routing tools. Please add this tools to the KiCad plugin manager using description from
https://dev-docs.kicad.org/en/addons/

Best Regards
Roland

[2022-09-01 03:12] Ansifa opened #138 "Error occurred while opening the dsn file generated by eagle2freerouter"
I am using version 1.62 of freerouting, and it prompts an error to open the DSN file:

`E:\Ansifa2021\PCB2021>java.exe -jar freerouting-executable.jar -l en -oit 0.0005 -us hybrid
2022-09-01 10:58:58.759 [main] INFO  Freerouting v1.6.2 (build-date: 2022-07-13)
2022-09-01 10:59:15.364 [AWT-EventQueue-0] INFO  Opening 'ESPMotor_AS5600.dsn'...
2022-09-01 10:59:15.515 [AWT-EventQueue-0] WARN  DsnFile.

[2022-09-01 15:10] andrasfuchs commented on #138
Just quickly looking at the generated DSN, it looks like the 6th line should use " quote characters instead of the current '.

Could you check if it works if you manually change the quotes?

`(host_version 'Eagle V 9.6 - Using eagle2freerouterV6-6.ulp, version 19-4-2014, on 2022/9/1 10:33')`
to
`(host_version "Eagle V 9.6 - Using eagle2freerouterV6-6.ulp, version 19-4-2014, on 2022/9/1 10:33")`

[2022-09-03 04:39] Ansifa commented on #138
Solved! After changing to double quotes, the dsn file can be opened normally, and the problem is solved. I modified the eagle2freerouterV6-6mod.ulp file L519 and L521 into double quotes, and the correct dsn file can be generated. Here is the modified ulp file for those in need.
[http://121.4.191.35/eagle2freerouterV6-6mod.ulp](http://121.4.191.35/eagle2freerouterV6-6mod.ulp)

Thanks a million!

[2022-09-03 04:41] #138 closed

[2022-09-03 04:47] Ansifa commented on #138
Finally learned to upload attachments
[eagle2freerouterV6-6mod.zip](https://github.com/freerouting/freerouting/files/9481811/eagle2freerouterV6-6mod.zip)

[2022-09-03 07:33] andrasfuchs commented on #138
Excellent, thank you for the modded file!

Do you mind if I integrate it into this repo? It would make sense if we had it here (updated) just like [we have it for KiCad](https://github.com/freerouting/freerouting/tree/master/integrations).

[2022-09-03 07:39] andrasfuchs commented on #138
Excellent, thank you for the modded file!

Do you mind if I integrate it into this repo? It would make sense if we had it here (updated) just like [we have it for KiCad](https://github.com/freerouting/freerouting/tree/master/integrations).

[2022-09-04 09:48] geejii opened #139 "Freerouting-1.3.0.jar fails to execute on Mac M1 w/ macOS 12.5.1"
Hi,

Although the Mac binary release of Freerouting is not supported anymore since v1.6.0 [I get the « Freerouting is damaged message »], the jar version is yet supposed to work with Java 17 runtime (and above ?).
I installed the latest Java runtime, V8 Update 341, but freerouting-1.3.0.jar fails to show anything.
I have a Mac mini M1, running macOS 12.5.1/Monterey.

Is that a known issue, or did

[2022-09-05 13:21] andrasfuchs commented on #139
You are referring to freerouting-1.3.0.jar, which is an old version, are you sure you have the latest?

Could you download the most recent version and follow the instructions from here:
https://github.com/freerouting/freerouting#running-freerouting-using-java-jre

This method should work on macOS too.

[2022-09-05 15:17] geejii commented on #139
Thanks a lot for the quick answer :-)

I downloaded the latest « freerouting-1.6.2.jar » on my Finder Desktop and followed the instructions provided at [https://github.com/freerouting/freerouting#running-freerouting-using-java-jre](https://github.com/freerouting/freerouting#running-freerouting-using-java-jre) then [https://adoptium.net/temurin/releases/](https://adoptium.net/temurin/releases/).

T

[2022-09-06 07:51] andrasfuchs commented on #139
Excellent, I'm glad it worked! Thank you for your persistence and your notes, I updated the instructions.

[2022-09-06 07:51] #139 closed

[2022-09-06 07:58] andrasfuchs commented on #137
Thank you for the suggestion! I agree, it would be great to have [our KiCad plugin](https://github.com/freerouting/freerouting/tree/master/integrations/KiCad) in KiCad's "Plugin and Content Manager".

I already spent a few hours on it, I couldn't make it work then, but I'll get into it again when I get the time.

[2022-09-08 10:26] Ansifa commented on #138
No problem,my pleasure~

[2022-09-08 10:29] HaraldBerlin opened #140 "TARGET 3001! supports FreeRouting with "one-click""
* [any/current] What version of freerouting are you using?
* [Windows, Linux/Wine] On what platform did you run it?
* [TARGET 3001!/Specctra/Electra] What type of file are you working with?

We just added a one-click interface to support FreeRouting in our Software TARGET 3001!. The user prepares everything in TARGET and with one click the DSN file is generated and FreeRouting is started. If the S

[2022-09-09 08:53] andrasfuchs commented on #140
Amazing work, thank you!

I'll update the documentation in a few weeks, could you add a few step-by-step instructions here with screenshots?

[2022-09-21 06:04] Rezer opened #143 "Freerouting 1.6.2 does not work on files exported from Eagle 9.5.1 using the latest ULP"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [ ] What version of freerouting are you using?
1.6.2
* [ ] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit?
Win 10 x64
* [ ] What type of file are you working with? Can you attach the actual (DSN) file?
DSN exported by eagle ULP
[rpi splitt

[2022-09-22 13:05] andrasfuchs commented on #143
Thank you for posting both the DSN and the log, it helps a lot.
The most likely reason is that the names in the exported DSN file have $ and # characters, so I would start with replacing them and try again.

Todo:
- [ ] Freerouting should generate clear warning messages if this happens, so that needs to be added at least to the log.
- [ ] I'm not sure if the new ULP does anything wrong regarding t

[2022-09-22 13:09] andrasfuchs commented on #127
Translations were completed by multiple AI-based translator services for Hindi, Spanish, French, Arabic, Bengali, Russian, Portuguese, Japanese and Korean. Ideally these translations would be proofread by native speakers, but the more likely way will be that I'll include them in the next release, and wait for feedback from the community.

If anyone feels like looking into this, please check out ht

[2022-09-22 13:13] andrasfuchs opened #144 "Integrate sentry.io"
[Sentry.io](https://sentry.io/about/) is an application performance monitoring service that is great detecting errors and bottlenecks in production systems. It would help the project greatly if we knew better what our users struggle with.

[2022-09-22 13:18] andrasfuchs commented on #43
An updated Eagle ULP script is now available in [Integrations\Eagle](https://github.com/freerouting/freerouting/tree/master/integrations/Eagle). I'm sure if it satisfies your original request though.

I close this issue now, but let me know if you think it should be better in some way.

[2022-09-22 13:18] #43 closed

[2022-09-23 03:09] Rezer commented on #143
I tried removing those at your suggestion, but it didn't seem to change the behavior at all.  I did notice that there are far less double quotes in the kicad generated files, so I removed all of them below the (parser) directive and it's suddenly working.  I'm not certain which places the quotes are causing trouble, but for some reason the newer versions of freerouting do not like quoted definitio

[2022-09-23 06:09] Rezer commented on #143
I'm unsure of the best way to go about fixing the problem, but I do believe I've at least found the source of the issue.

The problem seems to be in the parsing of the pins list.  When the nets are exported from eagle using the latest ULP they look like this:
    (net "VCC"
      (pins "J2"-"VBUS" "J1"-"VBUS")
    )

However, due to the 1.6.0 change in the Network.java::read_net_pins() from using

[2022-09-23 06:13] Rezer commented on #143
It occurs to me that it may be simpler to just modify the ULP to output the pin definition as follows:
(pins "J2-VBUS" "J1-VBUS")

However, I'm unsure if that would break backward compatibility with versions before 1.6.0, or if that is even a concern for that matter.

[2022-09-23 20:26] Rezer commented on #143
Came up with something using next_string_list() instead of next_string() which seems to work well for both quoted and unquoted strings.  Submitted a pull request at https://github.com/freerouting/freerouting/pull/145

[2022-09-23 20:48] Rezer commented on #143
Aaaaand just found out that smoothieboard.dsn contains pin references specified as C74--, which I didn't think was allowed but apparently is!  This doesn't handle those correctly so I closed that pull request.  To be continued...

[2022-09-23 22:30] Rezer commented on #143
Alright I think I sorted it out now.  Now it works similar to how it did in 1.5.0, except instead of calling next_token() it uses next_string() but uses the overload where a - can be added to the list of stop characters.  It then throws away the next hyphen and calls next_string() again to get the pin name, which is correctly handled if it is a -.  This is working for eagle files and all the exist

[2022-09-24 06:31] Rezer opened #148 "Handling of identifiers which use non-Windows-1252 characters"
This is more of a question than an issue, but after taking a good hard look at SpecctraDsnFileReader.java I realized that it's mostly auto-generated code with a smattering of manual coding to add the next_string() and next_string_list() functions.  As best as I can tell they were added to kind of circumvent the auto-generated code's inability to handle identifiers which use letters from non-ASCII

[2022-09-26 20:51] andrasfuchs commented on #143
This is great, thank you @Rezer for the thorough investigation and your commitment to fix it!

I will review your pull request as soon as I can, hopefully later this week!

[2022-09-26 20:57] andrasfuchs commented on #148
I'm not sure if others attempted to update the jflex definition file before, I wasn't. I agree that theoretically that would be a better solution long term, I'm just a little hesitant because at this point the DSN reader works okay for the most cases, and the jflex update would potentially introduce new bugs and/or challenges.

If you feel like going deeper and do the update, I gladly review and t

[2022-10-09 05:45] geejii commented on #69
I am using the Java version of Freerouter v1.6.2 with KiCad (6.0.8-1)-1 on a Mac running macOS Monterey 12.6.

The first time I use the autorouter, and get back the Specctra Session into KiCad, I get multiple clearance violations from the KiCad Design Rules Checker (see attached screen copy "DRC Clearance Violations.jpg").
What is extremely curious is that if I then delete all those tracks with cl

[2022-10-11 07:01] HaraldBerlin commented on #140
Hello Andras,

nice to hear from you! We are the people who create the *TARGET 3001!*
PCB CAD software. We know Alfons Wirtz personally, because he visited
our office some years ago.

We now have a dialog to start FreeRouting directly:

(Image 1: Open FreeRouting dialog window)

There you can select the signals (=nets) to be routed:

(Image 1: If no special signal is selected, all signals are affe

[2022-10-13 13:07] andrasfuchs commented on #143
Excellent work, thank you @Rezer!

[2022-10-13 13:14] andrasfuchs commented on #140
Thank you @HaraldBerlin for the tutorial steps!

Somehow the screenshots didn't get through, could you please send them to my e-mail: andras.fuchs at gmail.com.

Thank you, I'll update the documentation as soon as I get the screenshots.

I tried to contact Alfons Wirtz a few years ago without any success. Could you pass my contact details to him if you have the chance, please? It would be great to

[2022-10-13 13:56] andrasfuchs commented on #135
It still some testing, but added the "-dl" command line argument to disable logging.

[2022-10-13 13:56] #135 closed

[2022-10-13 15:32] andrasfuchs commented on #127
The following languages are now supported: Spanish, French, Arabic, Russian, Portuguese and Japanese.

The following are translated, but they seems to be not working as expected: Hindi, Bengali and Korean.

Any help with these were greatly appreciated!

[2022-10-14 08:54] andrasfuchs commented on #69
You are absolutely right, this issue is in the top 3 issues that needs to be solved soon.

The reason for this happening isn't totally clear for me either at this point, I have only theories. I'll need to spend probably a day or two on this to understand the mechanics at play. It can be a rounding problem, a strange behavior introduced by multi-threading in the route optimizer (which is nondetermi

[2022-10-14 09:00] andrasfuchs commented on #135
No, but logging is disabled by default for the KiCad plugin.

I'm hesitant to change the GUI to be honest, because it would mean that we need to add new multilingual menuitems/strings, that would mean translating them into the 11 languages we support, and the GUI would need to much bigger overhaul in the long run anyway, if an UX designer could join the project.

[2022-10-14 10:32] andrasfuchs commented on #137
I've just created a merge request for the KiCad addon repo: https://gitlab.com/kicad/addons/metadata/-/merge_requests/122

If everything goes as planned we will have Freerouting listed in KiCad's "Plugin and Content Manager" soon.

[2022-10-14 10:33] #140 closed

[2022-10-14 10:42] andrasfuchs commented on #132
I'm not a Python expert at all, but I image that we would first need to refactor Freerouting to have a separate Java library that have an API that can be called from Python (probably with the help of [Py4J](https://www.py4j.org/index.html)).
If that worked we could add it as a package to pip with [PyPi](https://pypi.org/).

It doesn't look impossible, but it would be a lot of effort with our curre

[2022-10-19 02:27] denjhang opened #150 "Window to open file is missing button"
![sshot-20221018-200156](https://user-images.githubusercontent.com/61811583/196582385-259f6817-fc72-4563-b3b5-d1658e56773f.png)
![sshot-20221019-102146](https://user-images.githubusercontent.com/61811583/196582401-cbea880e-e61a-461d-9bad-78767110ec88.png)
![sshot-20221019-102658](https://user-images.githubusercontent.com/61811583/196582789-c795a646-aaea-4a7b-9732-9194a6033186.png)

I'm currently u

[2022-10-19 02:28] denjhang commented on #150
![sshot-20221018-200156 - 副本](https://user-images.githubusercontent.com/61811583/196582981-1b91a066-8a1d-42fe-b363-581dfae57e58.png)

[2022-10-20 08:01] andrasfuchs commented on #150
It's strange, can this be a window sizing issue? The window on the last screenshot is narrower than the others above.

As I tried to reproduce this issue, I could resize my window to a too small size:
![image](https://user-images.githubusercontent.com/910321/196891072-e9590529-610d-409a-84de-4b05f7ca0498.png)

You can fix this by moving the mouse cursor to the bottom right corner of the window and

[2022-10-20 08:03] andrasfuchs commented on #127
Hindi, Bengali and Korean have problem with the font we are using. It needs to be investigated what font should we replace it with.

[2022-10-23 20:27] Zumili commented on #69
Hey guys, I was just facing the same problem with two new PCBs.

KiCad (64-bit)
Version: (6.0.7), release build
Platform: Windows 10 (build 19043), 64-bit edition, 64 bit, Little endian, wxMSW

Freerouting v1.6.2 (build-date: 2022-07-13)

When removing the "Postroute" option, no clearance violations occur. But no post route means no optimized tracks.

In the end, adding the "-mt 1" parameter for s

[2022-10-24 07:25] geejii commented on #69
Congratulations Thomas, you cracked it !!! B-)
I confirm this workaround works perfectly on the Java version of FreeRouting 1.6.2, running on Java 8.351 on a Mac M1 with macOS Monterey 12.6.
I suppose the mono threaded execution may slow somewhat the FreeRouting first execution, but nothing noticeable. And anyway, it is much, much faster than multiple iterations Kicad<->FreeRouting.

The only thin

[2022-10-28 12:46] denjhang commented on #150
Although I adjusted the window to temporarily solve the problem, the enter key did not work. When I close the window and open it for the second time, everything works fine.

[2022-11-01 11:20] tormyvancool opened #151 "KiCad plugin needs Java 17, but it generates a long misleading error message"
First of all, thank you for taking the time to report an issue.

To make our work easier, please provide as many details as you can:
* [x] What version of freerouting are you using? **v1.4.4 .EXE ando also a previous one in .JAR**
* [x] On what platform did you run it? Windows, Linux, MacOS? 32-bit or 64-bit? **Windows 11 Pro 64bit**
* [x] What type of file are you working with? Can you attach the

[2022-11-01 12:18] andrasfuchs commented on #151
Yes, looking at your screenshot the mixing of `\` and `/` characters in the path doesn't look right.
First I thought that we need to change [the plugin script](https://github.com/freerouting/freerouting/blob/master/integrations/KiCad/kicad-freerouting/plugins/plugin.py) to use the correct one depending on the platform, but as far as I can see we use `os.path.join` which should take care of this.
I

[2022-11-08 09:01] Gigahawk commented on #133
I think a more accurate description would be support for differential impedance controlled lines.
In general, impedance controlled traces are necessary for high speed signals, where any change in impedance along a conductor can cause reflections and distort the signal.

Impedance controlled lines are typically either single-ended (single trace), or differential (a pair of traces)
Single-ended impe

[2022-11-08 09:38] Gigahawk opened #152 "Autoroute: Full support for copper pours and power/ground plane awareness"
For multi-layer boards, it is common to dedicate a whole layer to a common net such as ground, usually referred to as pours or planes.
This makes routing much simpler by running a short trace from a pad to a via.

As far as I can tell the autorouter is unaware of these pours, but are present in the GUI shown as "conduction areas".
There was some effort made to support this in #70, however by just

[2022-11-11 15:02] timrosskamp opened #153 "Opening DSN file is stuck loading with Java 19 (Java 17 and 18 work fine)"
I can't open any .dsn files exorted by KiCAD. I've tried this on Windows 10 64-bit and MacOS 64-bit. Both times I'm stuck on loading and get a heap space error after a while.

- Version v1.6.2
- MacOS 64-bit
- [wavefolder.dsn.zip](https://github.com/freerouting/freerouting/files/9991073/wavefolder.dsn.zip)

[code]

[2022-11-11 23:23] timrosskamp commented on #153
I've just tried to open the file with version 1.5.0 which is working.

[2022-11-15 18:16] ProxyPlayerHD opened #155 "Clearance violations caused by the multithreaded route optimizer (use "-mt 1" to disable it)"
* What version of freerouting are you using?
v1.6.2 (build 2022-07-13)

* On what platform did you run it?
Windows 10

* What type of file are you working with?
Spectra DNS exported from KiCad

* Did you use any command line arguments?
"-l en"

* Can you post a screenshot of the problem?
<img width="1250" alt="freerouting_xjfaaj0YM8" src="https://user-images.githubusercontent.com/13576843/20199395

[2022-11-24 10:12] tormyvancool commented on #151
The script is in facts unusable. I had to uninstall your package. Sorry for this.
When ther ewill be a working/stable one I will be happy to install it

[2022-11-30 11:50] sleemanj opened #156 "Suggestion: "Bend Cost" to aid in autorouting for single sided fabrication."
When routing a board for single-sided fabrication, especially DIY boards it is useful to have what will in reality be the non-copper side only have purely straight line routes which are implemented during fabrication by a simple straight solid wire, or for short ones by an SMD 0-ohm link on the copper side.

It is **almost** possible to do it already in Freerouting by setting the cost for "against